___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" 
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:100%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<img src=https://i.ibb.co/wJW61Y2/Used-cars.jpg width="700" height="200">

<p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">The Capstone Project of Data Analytics Module</p>

<p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Car Price Prediction EDA</p>

## Introduction
Welcome to "***AutoScout Data Analysis Project***". This is the capstone project of ***Data Analysis*** Module. **Auto Scout** data which using for this project, scraped from the on-line car trading company in 2019, contains many features of 9 different car models. In this project, you will have the opportunity to apply many commonly used algorithms for Data Cleaning and Exploratory Data Analysis by using many Python libraries such as Numpy, Pandas, Matplotlib, Seaborn, Scipy you will analyze clean dataset.

### Some Reminders on Exploratory data analysis (EDA)

Exploratory data analysis (EDA) is an especially important activity in the routine of a data analyst or scientist. It enables an in depth understanding of the dataset, define or discard hypotheses and create predictive models on a solid basis. It uses data manipulation techniques and several statistical tools to describe and understand the relationship between variables and how these can impact business. By means of EDA, we can obtain meaningful insights that can impact analysis under the following questions (If a checklist is good enough for pilots to use every flight, it’s good enough for data scientists to use with every dataset).
1. What question are you trying to solve (or prove wrong)?
2. What kind of data do you have?
3. What’s missing from the data?
4. Where are the outliers?
5. How can you add, change or remove features to get more out of your data?

**``Exploratory data analysis (EDA)``** is often an **iterative brainstorming process** where you pose a question, review the data, and develop further questions to investigate before beginning model development work. The image below shows how the brainstorming phase is connected with that of understanding the variables and how this in turn is connected again with the brainstorming phase.<br>

<img src=https://i.ibb.co/k0MC950/EDA-Process.png width="300" height="100">

[Image Credit: Andrew D.](https://towardsdatascience.com/exploratory-data-analysis-in-python-a-step-by-step-process-d0dfa6bf94ee)

**``In this context, the project consists of 3 parts in general:``**
* **The first part** is related to 'Data Cleaning'. It deals with Incorrect Headers, Incorrect Format, Anomalies, and Dropping useless columns.
* **The second part** is related to 'Filling Data', in other words 'Imputation'. It deals with Missing Values. Categorical to numeric transformation is done as well.
* **The third part** is related to 'Handling Outliers of Data' via Visualization libraries. So, some insights will be extracted.

**``NOTE:``**  However, you are free to create your own style. You do NOT have to stick to the steps above. We, the DA & DV instructors, recommend you study each part separately to create a source notebook for each part title for your further studies.

# PART- 1 `( Data Cleaning )`

In [198]:
import numpy as np
import pandas as pd
from skimpy import clean_columns

import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from pylab import rcParams

import re

# The maximum width in characters of a column
pd.set_option('display.max_colwidth', 80)

# To display maximum columns
pd.set_option('display.max_columns', None)

# To display maximum rows
pd.set_option('display.max_rows',100)

import warnings
warnings.simplefilter(action='ignore', category=Warning)

## Reading the Data from File

In [199]:
df_= pd.read_json("scout_car.json", lines=True)
df=df_.copy()

In [200]:
df.shape

(15919, 54)

In [201]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [202]:
df.head(3).T

,0,1,2
url,https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon...,https://www.autoscout24.com//offers/audi-a1-1-8-tfsi-sport-gasoline-red-b254...,https://www.autoscout24.com//offers/audi-a1-sportback-1-6-tdi-s-tronic-einpa...
make_model,Audi A1,Audi A1,Audi A1
short_description,Sportback 1.4 TDI S-tronic Xenon Navi Klima,1.8 TFSI sport,Sportback 1.6 TDI S tronic Einparkhilfe plus+music
body_type,Sedans,Sedans,Sedans
price,15770,14500,14640
vat,VAT deductible,Price negotiable,VAT deductible
km,"56,013 km","80,000 km","83,450 km"
registration,01/2016,03/2017,02/2016
prev_owner,2 previous owners,None,1 previous owner
kW,NaN,NaN,NaN
hp,66 kW,141 kW,85 kW
Type,"[, Used, , Diesel (Particulate Filter)]","[, Used, , Gasoline]","[, Used, , Diesel (Particulate Filter)]"
Previous Owners,\n2\n,NaN,\n1\n
Next Inspection,"[\n06/2021\n, \n99 g CO2/km (comb)\n]",NaN,NaN
Inspection new,"[\nYes\n, \nEuro 6\n]",NaN,NaN
Warranty,"[\n, \n, \n4 (Green)\n]",NaN,"[\n, \n, \n99 g CO2/km (comb)\n]"
Full Service,"[\n, \n]",NaN,NaN
Non-smoking Vehicle,"[\n, \n]",NaN,NaN
null,[],[],[]
Make,\nAudi\n,\nAudi\n,\nAudi\n
Model,"[\n, A1, \n]","[\n, A1, \n]","[\n, A1, \n]"
Offer Number,[\nLR-062483\n],NaN,[\nAM-95365\n]
First Registration,"[\n, 2016, \n]","[\n, 2017, \n]","[\n, 2016, \n]"
Body Color,"[\n, Black, \n]","[\n, Red, \n]","[\n, Black, \n]"
Paint Type,[\nMetallic\n],NaN,[\nMetallic\n]
Body Color Original,[\nMythosschwarz\n],NaN,[\nmythosschwarz metallic\n]
Upholstery,"[\nCloth, Black\n]","[\nCloth, Grey\n]","[\nCloth, Black\n]"
Body,"[\n, Sedans, \n]","[\n, Sedans, \n]","[\n, Sedans, \n]"
Nr. of Doors,[\n5\n],[\n3\n],[\n4\n]
Nr. of Seats,[\n5\n],[\n4\n],[\n4\n]
Model Code,[\n0588/BDF\n],[\n0588/BCY\n],NaN
Gearing Type,"[\n, Automatic, \n]","[\n, Automatic, \n]","[\n, Automatic, \n]"
Displacement,"[\n1,422 cc\n]","[\n1,798 cc\n]","[\n1,598 cc\n]"
Cylinders,[\n3\n],[\n4\n],NaN
Weight,"[\n1,220 kg\n]","[\n1,255 kg\n]",NaN
Drive chain,[\nfront\n],[\nfront\n],[\nfront\n]
Fuel,"[\n, Diesel (Particulate Filter), \n]","[\n, Gasoline, \n]","[\n, Diesel (Particulate Filter), \n]"
Consumption,"[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)], [4.7 l/100 km (country)]]","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)], [3.4 l/100 km (country)]]"
CO2 Emission,[\n99 g CO2/km (comb)\n],[\n129 g CO2/km (comb)\n],[\n99 g CO2/km (comb)\n]
Emission Class,[\nEuro 6\n],[\nEuro 6\n],[\nEuro 6\n]
\nComfort & Convenience\n,"[Air conditioning, Armrest, Automatic climate control, Cruise control, Elect...","[Air conditioning, Automatic climate control, Hill Holder, Leather steering ...","[Air conditioning, Cruise control, Electrical side mirrors, Hill Holder, Lea..."
\nEntertainment & Media\n,"[Bluetooth, Hands-free equipment, On-board computer, Radio]","[Bluetooth, Hands-free equipment, On-board computer, Radio, Sound system]","[MP3, On-board computer]"
\nExtras\n,"[Alloy wheels, Catalytic Converter, Voice Control]","[Alloy wheels, Sport seats, Sport suspension, Voice Control]","[Alloy wheels, Voice Control]"
\nSafety & Security\n,"[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electro...","[ABS, Central door lock, Central door lock with remote control, Daytime runn...","[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electro..."
description,"[\n, Sicherheit:, , Deaktivierung für Beifahrer-Airbag, , ESC mit elektron...","[\nLangstreckenfahrzeug daher die hohe Kilometerleistung. , Bremsen neu bei ...","[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 24.640 EUR, , Komfort, , Klim..."
Emission Label,NaN,[\n4 (Green)\n],[\n4 (Green)\n]
Gears,NaN,[\n7\n],NaN
Country version,NaN,NaN,NaN
Electricity consumption,NaN,NaN,NaN
Last Service Date,NaN,NaN,NaN
Other Fuel Types,NaN,NaN,NaN
Availability,NaN,NaN,NaN
Last Timing Belt Service Date,NaN,NaN,NaN
Available from,NaN,NaN,NaN

In [203]:
df.columns.value_counts().sum()

54

In [204]:
df.isna().sum()

url                                  0
make_model                           0
short_description                   46
body_type                           60
price                                0
vat                               4513
km                                   0
registration                         0
prev_owner                        6828
kW                               15919
hp                                   0
Type                                 2
Previous Owners                   6640
Next Inspection                  12384
Inspection new                   11987
Warranty                          5420
Full Service                      7704
Non-smoking Vehicle               8742
null                                 0
Make                                 0
Model                                0
Offer Number                      3175
First Registration                1597
Body Color                         597
Paint Type                        5772
Body Color Original               3759
Upholstery                        3720
Body                                60
Nr. of Doors                       212
Nr. of Seats                       977
Model Code                       10941
Gearing Type                         0
Displacement                       496
Cylinders                         5680
Weight                            6974
Drive chain                       6858
Fuel                                 0
Consumption                       1906
CO2 Emission                      1808
Emission Class                    3021
\nComfort & Convenience\n          920
\nEntertainment & Media\n         1374
\nExtras\n                        2962
\nSafety & Security\n              982
description                          0
Emission Label                   11934
Gears                             4712
Country version                   8333
Electricity consumption          15782
Last Service Date                15353
Other Fuel Types                 15039
Availability                     15284
Last Timing Belt Service Date    15903
Available from                   15647
dtype: int64

In [205]:
df.isna().sum()*100/ df.shape[0]

url                                0.000000
make_model                         0.000000
short_description                  0.288963
body_type                          0.376908
price                              0.000000
vat                               28.349771
km                                 0.000000
registration                       0.000000
prev_owner                        42.892141
kW                               100.000000
hp                                 0.000000
Type                               0.012564
Previous Owners                   41.711163
Next Inspection                   77.793831
Inspection new                    75.299956
Warranty                          34.047365
Full Service                      48.395000
Non-smoking Vehicle               54.915510
null                               0.000000
Make                               0.000000
Model                              0.000000
Offer Number                      19.944720
First Registration                10.032037
Body Color                         3.750236
Paint Type                        36.258559
Body Color Original               23.613292
Upholstery                        23.368302
Body                               0.376908
Nr. of Doors                       1.331742
Nr. of Seats                       6.137320
Model Code                        68.729192
Gearing Type                       0.000000
Displacement                       3.115774
Cylinders                         35.680633
Weight                            43.809285
Drive chain                       43.080596
Fuel                               0.000000
Consumption                       11.973114
CO2 Emission                      11.357497
Emission Class                    18.977323
\nComfort & Convenience\n          5.779257
\nEntertainment & Media\n          8.631195
\nExtras\n                        18.606696
\nSafety & Security\n              6.168729
description                        0.000000
Emission Label                    74.967021
Gears                             29.599849
Country version                   52.346253
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

In [206]:
df.rename(columns={"\nComfort & Convenience\n": "Comfort_Convenience",
                   "\nEntertainment & Media\n":"Entertainment_Media",
                   "\nExtras\n":"Extras",
                   "\nSafety & Security\n":"Safety_Security"}, inplace=True)

df.head(3)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,hp,Type,Previous Owners,Next Inspection,Inspection new,Warranty,Full Service,Non-smoking Vehicle,null,Make,Model,Offer Number,First Registration,Body Color,Paint Type,Body Color Original,Upholstery,Body,Nr. of Doors,Nr. of Seats,Model Code,Gearing Type,Displacement,Cylinders,Weight,Drive chain,Fuel,Consumption,CO2 Emission,Emission Class,Comfort_Convenience,Entertainment_Media,Extras,Safety_Security,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,66 kW,"[, Used, , Diesel (Particulate Filter)]",\n2\n,"[\n06/2021\n, \n99 g CO2/km (comb)\n]","[\nYes\n, \nEuro 6\n]","[\n, \n, \n4 (Green)\n]","[\n, \n]","[\n, \n]",[],\nAudi\n,"[\n, A1, \n]",[\nLR-062483\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nMythosschwarz\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n5\n],[\n5\n],[\n0588/BDF\n],"[\n, Automatic, \n]","[\n1,422 cc\n]",[\n3\n],"[\n1,220 kg\n]",[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.3 l/100 km (city)], [3.5 l/100 km (country)]]",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate control, Cruise control, Elect...","[Bluetooth, Hands-free equipment, On-board computer, Radio]","[Alloy wheels, Catalytic Converter, Voice Control]","[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electro...","[\n, Sicherheit:, , Deaktivierung für Beifahrer-Airbag, , ESC mit elektron...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-8-tfsi-sport-gasoline-red-b254...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,141 kW,"[, Used, , Gasoline]",NaN,NaN,NaN,NaN,NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",NaN,"[\n, 2017, \n]","[\n, Red, \n]",NaN,NaN,"[\nCloth, Grey\n]","[\n, Sedans, \n]",[\n3\n],[\n4\n],[\n0588/BCY\n],"[\n, Automatic, \n]","[\n1,798 cc\n]",[\n4\n],"[\n1,255 kg\n]",[\nfront\n],"[\n, Gasoline, \n]","[[5.6 l/100 km (comb)], [7.1 l/100 km (city)], [4.7 l/100 km (country)]]",[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, Hill Holder, Leather steering ...","[Bluetooth, Hands-free equipment, On-board computer, Radio, Sound system]","[Alloy wheels, Sport seats, Sport suspension, Voice Control]","[ABS, Central door lock, Central door lock with remote control, Daytime runn...","[\nLangstreckenfahrzeug daher die hohe Kilometerleistung. , Bremsen neu bei ...",[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sportback-1-6-tdi-s-tronic-einpa...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+music,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,85 kW,"[, Used, , Diesel (Particulate Filter)]",\n1\n,NaN,NaN,"[\n, \n, \n99 g CO2/km (comb)\n]",NaN,NaN,[],\nAudi\n,"[\n, A1, \n]",[\nAM-95365\n],"[\n, 2016, \n]","[\n, Black, \n]",[\nMetallic\n],[\nmythosschwarz metallic\n],"[\nCloth, Black\n]","[\n, Sedans, \n]",[\n4\n],[\n4\n],NaN,"[\n, Automatic, \n]","[\n1,598 cc\n]",NaN,NaN,[\nfront\n],"[\n, Diesel (Particulate Filter), \n]","[[3.8 l/100 km (comb)], [4.4 l/100 km (city)], [3.4 l/100 km (country)]]",[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Cruise control, Electrical side mirrors, Hill Holder, Lea...","[MP3, On-board computer]","[Alloy wheels, Voice Control]","[ABS, Central door lock, Daytime running lights, Driver-side airbag, Electro...","[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 24.640 EUR, , Komfort, , Klim...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [207]:
def null_check (col) :
    print("Column name :", col)
    print("--"*30)
    print("Number of nulls :", df[col].isnull().sum())
    print("Percent of nulls :", '%', round((df[col].isnull().sum()/df.shape[0])*100, 2))
    print("Value_counts :", "\n", df[col].value_counts(dropna=False))

In [208]:
missing_col = df.isnull().sum()*100 / df.shape[0]
missing_col.loc[lambda x : x >= 90]

kW                               100.000000
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

In [209]:
missing_col.loc[lambda x : x >= 90].index

Index(['kW', 'Electricity consumption', 'Last Service Date',
       'Other Fuel Types', 'Availability', 'Last Timing Belt Service Date',
       'Available from'],
      dtype='object')

In [210]:
df.drop(missing_col.loc[lambda x : x >= 90].index, axis=1, inplace=True)

In [211]:
df.shape

(15919, 47)

## 1-url column

In [212]:
df.url.value_counts(dropna=False)

https://www.autoscout24.com//offers/audi-a1-sportback-1-4-tdi-s-tronic-xenon-navi-klima-diesel-black-bdab349a-caa5-41b0-98eb-c1345b84445e                  1
https://www.autoscout24.com//offers/opel-insignia-bus-inno-2-0-cdti-aut-navi-bi-xe-led-e6-diesel-black-8710b253-dd98-4ed0-9d46-cbad2d79532b                1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-10b7463b-9f56-4348-af35-df3432b2b585    1
https://www.autoscout24.com//offers/opel-insignia-2-0cdti-st-business-innovation-navi-bt-diesel-black-ba5a3368-dedc-4e51-9127-3976b26e93c2                 1
https://www.autoscout24.com//offers/opel-insignia-sport-tourer-opel-sport-tourer-1-6-cdti-136-ch-a-c-diesel-silver-7b52f054-78d3-4d5e-9370-8a7d081d7edd    1
                                                                                                                                                          ..
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-black-cf50f7b1-4d7b-466f-93a2-4e11ec0b4107                        1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-grey-3f47eb34-15c4-4763-860d-78fcbbd2c9ff                         1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-f7a4bc95-b2ef-4bac-9497-6bcbcd05db0b                       1
https://www.autoscout24.com//offers/audi-a3-sb-30-1-6-tdi-business-116cv-s-tronic-diesel-silver-1c94c7a2-67b5-49ca-ae42-42a6800fb3f5                       1
https://www.autoscout24.com//offers/renault-espace-initiale-paris-tce-225-edc-gpf-navi-shz-aux-gasoline-grey-0bd690d9-7e93-4cab-bc5a-9d5b63402481          1
Name: url, Length: 15919, dtype: int64

In [213]:

df.drop(columns="url",inplace=True)

In [214]:
df.shape

(15919, 46)

## 2-Make_Model

In [215]:
df.make_model.value_counts(dropna=False)

Audi A3           3097
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1839
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

## Make and Model

In [216]:
df.Make.value_counts(dropna=False)

\nOpel\n       7343
\nAudi\n       5712
\nRenault\n    2864
Name: Make, dtype: int64

In [217]:
df["Make"] = df.Make.str.strip('\n')
df.Make.value_counts(dropna=False)

Opel       7343
Audi       5712
Renault    2864
Name: Make, dtype: int64

In [218]:
df.Model.astype(str).value_counts(dropna=False)

['\n', 'A3', '\n']          3097
['\n', 'A1', '\n']          2614
['\n', 'Insignia', '\n']    2598
['\n', 'Astra', '\n']       2526
['\n', 'Corsa', '\n']       2219
['\n', 'Clio', '\n']        1839
['\n', 'Espace', '\n']       991
['\n', 'Duster', '\n']        34
['\n', 'A2', '\n']             1
Name: Model, dtype: int64

In [219]:
df[["Make","Model","make_model"]].head()

   Make         Model make_model
0  Audi  [\n, A1, \n]    Audi A1
1  Audi  [\n, A1, \n]    Audi A1
2  Audi  [\n, A1, \n]    Audi A1
3  Audi  [\n, A1, \n]    Audi A1
4  Audi  [\n, A1, \n]    Audi A1

In [220]:
df.drop(["Make", "Model"], axis=1, inplace=True)

In [221]:
df.shape

(15919, 44)

## 3-Short Description

In [222]:
df.short_description.value_counts(dropna=False)

SPB 1.6 TDI 116 CV S tronic Sport                 64
NaN                                               46
1.4 66kW (90CV) Selective                         40
MOVE KLIMA CD USB ALLWETTER BLUETOOTH             38
SPB 30 TDI S tronic Business                      35
                                                  ..
K Sports Tourer Business **Navi*Voll**             1
1.0 Turbo ecoFLEX Automatic Elective Park Navi     1
1.6 CDTI Business *Navi*Automatik*Spurh.*          1
1.6 136 CV Automatica Navi E 6 Garanzia Full       1
TCe 225 EDC GPF LIM Deluxe Pano,RFK                1
Name: short_description, Length: 10002, dtype: int64

In [223]:
df.drop("short_description", axis=1, inplace=True)

In [224]:
df.shape

(15919, 43)

## Description

In [225]:
df.description.astype(str).value_counts(dropna=False)

[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               636
['\n', '\n']                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      30
['\n', 'Fahrzeugbeschreibung', ' Sichern Sie sich diesen Renault Clio 1.6 TCE Energy Sport Trophy zum Top-Preis inklusive dem ', 'AUTOHERO-RUNDUM-SORGLOS-PAKET', ' ', 'Infos:', ' 1.Hand, deutsche Auslieferung, Unfallfrei, scheckheftgepflegt', ' ', 'Highlights', ' ', 'Audio-Navigationssystem R-Link Evolution mit Touchscreen und Carminat TomTom', ' ', 'Sportsitze ', ' ', 'Sportfahrwerk', ' ', 'Scheinwerfer Full-LED ', 'Komfort', ' ', 'Geschwindigkeits-Regelanlage (Tempomat) ', ' ', 'Klimaanlage', ' ', 'Einparkhilfe hinten', ' ', 'Multifunktionslenkrad (Sport/Leder) mit Schaltwippen/-tasten ', ' ', 'Fensterheber elektr. mit Impulsgeber links/rechts vorn', ' ', 'Zentralverriegelung / Startanlage Handsfree Entry & Drive ', ' ', 'Berganfahr-Assistent (HSA) ', 'Multimedia', ' ', 'Audiosystem: Radio R & GO (Bluetooth, DAB-Tuner)', ' ', 'Bordcomputer', ' ', 'Freisprecheinrichtung Bluetooth ', ' ', 'USB-Anschluss inkl. AUX-IN-Anschluss (Plug & Music) ', 'Licht und Sicht', ' ', 'Außenspiegel elektr. verstell- und heizbar ', ' ', 'Licht- und Regensensor ', ' ', 'Tagfahrlicht LED ', ' ', 'Nebelscheinwerfer LED ', ' ', 'Coming-Home-Lichtfunktion ', ' ', 'Heckleuchten LED ', 'Sicherheit', ' ', 'Isofix-Aufnahmen für Kindersitz ', ' ', 'Seitenairbag vorn', ' ', 'Wegfahrsperre', ' ', 'Differentialsperre', ' ', 'Bremsassistent ', ' ', 'Elektron. Stabilitäts-Programm (ESP)', ' ', 'Anti-Blockier-System (ABS)', ' ', 'Anti-Submarining-Airbag im Fond', ' ', 'Airbag Fahrer-/Beifahrerseite ', ' ', 'Differentialsperre ', ' ', 'Reifendruck-Kontrollsystem ', ' ', 'Untersteuerungskontrolle (USC) ', ' ', 'Antischlupfregelung (ASR) ', 'Weiteres', ' ', 'Start/Stop-Anlage ', ' ', 'Servolenkung geschwindigkeitsabhängig', ' ', 'R.S. Drive (Fahrmodusschalter) ', ' ', 'Gepäckraumabdeckung / Rollo ', ' ', 'Heckdiffusor ', ' ', 'LM-Felgen ', ' ', 'Heckspoiler (Renault Sport) ', ' ', 'Pedale Aluminium ', ' ', 'Energierückgewinnung (Energy Smart Management) ', ' ', 'Elektr. Bremskraftverteilung ', ' ', 'Reifen-Reparaturkit ', ' ', 'Sitzbezug / Polsterung: Stoff ', ' Ihr ', 'AUTOHERO-RUNDUM-SORGLOS-PAKET', ' beinhaltet:', 'Kostenlose Lieferung in Ihre Nähe', 'Optische & technische Aufbereitung', 'Mindestens 12 Monate gültige HU und AU', '1-Jahr-Premium-Garantie', 'Zulassung inklusive ', '14-Tage-Rückgaberecht', 'Markenunabhängige Inzahlungnahme ', 'Individuelle Finanzierungen zu fairen Konditionen', ' ', 'HIER GEHT ES ZUR 360° - ANSICHT DES FAHRZEUGES:', ':', 'https://www.autohero.com/de/renault-clio-1-6-tce-energy-renault-sport-trophy/id/f7ca29bf-e005-453f-bbc9-8c6fe892dec6/', ' ', 'Haftungsausschluss', ':', 'Für Angaben vom Verkäufer, des Herstellers oder von Datenbankabfragen übernimmt Autohero keine Haftung. Änderungen, Zwischenverkauf und Irrtümer sind vorbehalten.\n']     27
['\nPosibilidad de prueba del vehículo hasta 5 días. Consultar condiciones. PVP para particulares. Varias unidades y colores disponibles. Precios publicados para vehículos industriales (furgonetas) válidos para compradores autónomos o empresas, consultar condiciones para particulares. Las imágenes y kilómetros pueden no corresponder con el modelo anunciado. Para confirmar póngase en contacto con nuestro departamento comercial. Consulta las excepcionales condiciones de financiación que tenemos disponibles. Precio de venta final IVA y gastos de transferencia incluidos. Horario de atención al cliente: Lunes a Viernes de 09:00 a 18:00.\n']                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               27
['\nSichern Sie sich diesen RENAULT CLIO 1.2 LIMITED zum Top-Preis inklusive dem', 'AUTOHERO-RUNDUM-SORGLOS-PAKET', ' ', 'Infos:', ' 2.Hand, mindestens 12 Monate gültige HU und AU, deutsche Ausführung, unfallfrei ', ' ', 'Highlights', ' ', 'Audio-Navigationssystem mit Touchscreen-Farbdisplay', 'Komfort', ' ', 'Klimaanlage ', ' ', 'Multifunktionslenkrad in Leder ', ' ', 'Berganfahr-Assistent (HSA)', ' ', 'Fensterheber elektrisch vorn ', ' ', 'Geschwindigkeits-Regelanlage (Tempomat) ', ' ', 'Heckscheibe heizbar ', ' ', 'Sitz vorn links höhenverstellbar', ' ', 'Sitz vorn rechts umklappbar ', ' ', 'Stau-/Ablagefach im Laderaumboden ', ' ', 'Zentralverriegelung mit Fernbedienung ', 'Multimedia', ' ', 'Radio R&GO', ' ', 'Bluetooth Freisprechanlage ', ' ', 'USB-/AUX-Schnittstelle ', ' ', 'Bordcomputer', ' ', 'Licht und Sicht', ' ', 'Tagfahrlicht LED ', ' ', 'Außenspiegel elektrisch verstell- und heizbar', 'Sicherheit', ' ', 'Airbag für Fahrer und Beifahrer', ' ', 'Beifahrerairbag deaktivierbar ', ' ', 'Seitenairbags vorn ', ' ', 'Kopfairbagsystem', ' ', 'Anti-Blockier-System (ABS)', ' ', 'Elektronische Bremskraftverteilung ', ' ', 'Elektronische Stabilitäts-Programm (ESP) ', ' ', 'Reifen-Reparaturkit ', ' ', 'Reifendruck-Kontrollsystem ', ' ', 'Untersteuerungskontrolle (USC) ', ' ', 'ISOFIX Kindersitzverankerung ', 'Weiteres', ' ', 'Dachreling silber ', ' ', 'Look-Paket Chrom (außen) ', ' ', 'Look-Paket Grau (innen) ', ' ', 'R&GO-Paket ', ' ', 'Style-Paket ', ' Ihr ', 'AUTOHERO-RUNDUM-SORGLOS-PAKET', ' beinhaltet:', 'Kostenlose Lieferung in Ihre Nähe', 'Optische & technische Aufbereitung', 'Mindestens 12 Monate gültige HU und AU', '1-Jahr-Premium-Garantie', 'Zulassung inklusive ', '14-Tage-Rückgaberecht', 'Markenunabhängige Inzahlungnahme ', 'Individuelle Finanzierungen zu fairen Konditionen', ' ', 'HIER GEHT ES ZUR 360° - ANSICHT DES FAHRZEUGES:', ':', 'https://www.autohero.com/de/renault-clio-1-2-limited/id/30f99516-8785-47e7-a4a3-6cdac4d8e633/', ' ', 'Haftungsausschluss', ':', 'Für Angaben vom Verkäufer, des Herstellers oder von Datenbankabfragen übernimmt Autohero keine Haftung. Änderungen, Zwischenverkauf und Irrtümer sind vorbehalten.\n']                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   27
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ...
['\nPratica\xa067374', 'Airbag fullsize per conducente e passeggero, Alzacristalli elettrici ant. e post. con funzione attivaz. a pressione, Assetto dinamico, Audi drive select, Inserti in micrometallic argento, Kit riparazione pneumatici, Pacchetto di navigazione, Piano di copertura del vano bagagli estraibile, Presa AUX-IN, Proiettori allo Xenon Plus con reg. aut. prof. fari, Lavafari, Rivestimenti dei sedili in tessuto, Serbatoio AdBlue, Sistema controllo pressione pneumatici, Sistema di ancoraggio ISOFIX e 3° punto di ancoraggio Top Tether sui sedili post. laterali, Sistema di informazioni per il conducente con display monocromatico, Tappetini anteriori e posteriori, Versione Business, Volante sportivo multifunzionale in pelle 3 razze, ABS, EBV (Ripartitore elettronico della forza frenante), Airbag laterali anteriori integrati negli schienali dei sedili, Airbag per la testa, Airbag per le ginocchia (lato conducente), Appoggiatesta anteriori (2) e posteriori (3) regolabili, Radio MMI plus, Interfaccia Bluetooth, Appoggiabraccia centrale anteriore, Cambio manuale, Cerchi in lega 7 J x 16" a 5 razze a stella, Chiusura centralizzata con telecomando, Regolatore di velocità, ESC - Sistema elettronico di controllo della stabilizzazione con bloccaggio trasversale elettronico, ASR - Dispositivo di controllo della trazione, EDS (Dispositivo antislittamento in partenza), Filtro anti particolato, Cinture di sicurezza con pretensionatore, Specchietti retrovisivi esterni riscaldabili e ripiegabili elettricamente, Schienale del sedile posteriore ribaltabile (divisibile in rapporto 40:60 o ribaltabile completam.), Sistema di ausilio al parcheggio posteriore, Servosterzo elettromeccanico, Tergilunotto\n']                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1

In [226]:
df.drop("description", axis=1, inplace=True)

In [227]:
df.shape

(15919, 42)

## 4 body_type

In [228]:
df.body_type.value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

## Body

In [229]:
df.Body.astype('str').value_counts(dropna=False)

['\n', 'Sedans', '\n']           7903
['\n', 'Station wagon', '\n']    3553
['\n', 'Compact', '\n']          3153
['\n', 'Van', '\n']               783
['\n', 'Other', '\n']             290
['\n', 'Transporter', '\n']        88
nan                                60
['\n', 'Off-Road', '\n']           56
['\n', 'Coupe', '\n']              25
['\n', 'Convertible', '\n']         8
Name: Body, dtype: int64

In [230]:
df[["body_type","Body"]]

      body_type              Body
0        Sedans  [\n, Sedans, \n]
1        Sedans  [\n, Sedans, \n]
2        Sedans  [\n, Sedans, \n]
3        Sedans  [\n, Sedans, \n]
4        Sedans  [\n, Sedans, \n]
...         ...               ...
15914       Van     [\n, Van, \n]
15915       Van     [\n, Van, \n]
15916       Van     [\n, Van, \n]
15917       Van     [\n, Van, \n]
15918       Van     [\n, Van, \n]

[15919 rows x 2 columns]

In [231]:
df.drop("Body", axis = 1, inplace = True)

In [232]:
df.shape

(15919, 41)

## 5-PRICE (Target var.)

In [233]:
df.price.value_counts(dropna=False)

14990    154
15990    151
10990    139
15900    106
17990    102
        ...
17559      1
17560      1
17570      1
17575      1
39875      1
Name: price, Length: 2956, dtype: int64

In [234]:
df.price.isnull().sum()

0

## 6- vat

In [235]:
df.vat.value_counts(dropna=False)

VAT deductible      10980
NaN                  4513
Price negotiable      426
Name: vat, dtype: int64

## 7- km

In [236]:
df.km.value_counts(dropna=False)

10 km        1045
- km         1024
1 km          367
5 km          170
50 km         148
             ...
67,469 km       1
43,197 km       1
10,027 km       1
35,882 km       1
57 km           1
Name: km, Length: 6690, dtype: int64

In [237]:
df['km'] = df['km'].str.replace(',','').str.extract('(\d+)').astype(float)

In [238]:
df.km.value_counts(dropna=False)

10.0       1045
NaN        1024
1.0         367
5.0         170
50.0        148
           ...
67469.0       1
43197.0       1
10027.0       1
35882.0       1
57.0          1
Name: km, Length: 6690, dtype: int64

In [239]:
df.km.isnull().sum()

1024

## 8- Registration

In [240]:
df.registration.value_counts(dropna=False)

-/-        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
04/2016     532
06/2018     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
11/2019       1
12/2019       1
Name: registration, dtype: int64

In [241]:
df['registration'] = df["registration"].replace("-/-", np.nan)

In [242]:
df.registration.value_counts(dropna=False)

NaN        1597
03/2018     695
02/2019     585
05/2018     572
03/2019     543
01/2019     541
04/2018     541
02/2018     539
03/2016     536
04/2016     532
06/2018     532
01/2018     511
04/2019     506
02/2016     472
03/2017     471
05/2016     459
06/2016     452
05/2019     440
06/2017     409
05/2017     404
07/2018     396
04/2017     380
01/2016     376
02/2017     368
01/2017     306
08/2018     285
06/2019     224
07/2017     215
11/2017     180
07/2016     176
10/2016     160
10/2017     154
09/2017     149
11/2016     142
09/2018     141
09/2016     141
12/2016     134
12/2017     123
08/2017     114
11/2018     110
12/2018     103
10/2018      97
08/2016      94
07/2019       6
09/2019       5
08/2019       1
11/2019       1
12/2019       1
Name: registration, dtype: int64

## First Registration

In [243]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'registration',
       'prev_owner', 'hp', 'Type', 'Previous Owners', 'Next Inspection',
       'Inspection new', 'Warranty', 'Full Service', 'Non-smoking Vehicle',
       'null', 'Offer Number', 'First Registration', 'Body Color',
       'Paint Type', 'Body Color Original', 'Upholstery', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', 'Comfort_Convenience',
       'Entertainment_Media', 'Extras', 'Safety_Security', 'Emission Label',
       'Gears', 'Country version'],
      dtype='object')

In [244]:
df['First Registration'].astype('str').value_counts(dropna=False)

['\n', '2018', '\n']    4522
['\n', '2016', '\n']    3674
['\n', '2017', '\n']    3273
['\n', '2019', '\n']    2853
nan                     1597
Name: First Registration, dtype: int64

In [245]:
df['First Registration'] = df['First Registration'].str[1].astype('float')

In [246]:
df['First Registration'].astype('str').value_counts(dropna=False)

2018.0    4522
2016.0    3674
2017.0    3273
2019.0    2853
nan       1597
Name: First Registration, dtype: int64

## AGE

In [247]:
df["age"]= 2019 - df["First Registration"]

In [248]:
df.age.value_counts(dropna=False)

1.0    4522
3.0    3674
2.0    3273
0.0    2853
NaN    1597
Name: age, dtype: int64

In [249]:
df.drop(["registration", "First Registration"], axis=1, inplace=True)

## 9- prev_owner

In [250]:
df.prev_owner.isnull().sum()

6828

In [251]:
df.prev_owner.value_counts()

1 previous owner     8294
2 previous owners     778
3 previous owners      17
4 previous owners       2
Name: prev_owner, dtype: int64

In [252]:
df['prev_owner'] = df['prev_owner'].str.findall('\d').str.join("").astype(float)
df.prev_owner.value_counts(dropna=False)

1.0    8294
NaN    6828
2.0     778
3.0      17
4.0       2
Name: prev_owner, dtype: int64

In [253]:
df["Previous Owners"].astype('str').value_counts(dropna=False)

\n1\n                                                                                                        8101
nan                                                                                                          6640
\n2\n                                                                                                         766
\n0\n                                                                                                         163
\n3\n                                                                                                          17
                                                                                                             ...
['\n1\n', '\n111 g CO2/km (comb)\n']                                                                            1
['\n1\n', '\nEuro 6\n']                                                                                         1
['\n2\n', '\n119 g CO2/km (comb)\n']                                                                            1
['\n1\n', '\n', '6.6 l/100 km (comb)', '\n', '8.1 l/100 km (city)', '\n', '5.7 l/100 km (country)', '\n']       1
['\n2\n', '\n137 g CO2/km (comb)\n']                                                                            1
Name: Previous Owners, Length: 103, dtype: int64

In [254]:
df["Previous Owners"].str.join("").value_counts(dropna=False)

\n1\n                                                                        8103
NaN                                                                          6640
\n2\n                                                                         766
\n0\n                                                                         163
\n3\n                                                                          17
                                                                             ...
\n1\n\n111 g CO2/km (comb)\n                                                    1
\n1\n\nEuro 6\n                                                                 1
\n2\n\n119 g CO2/km (comb)\n                                                    1
\n1\n\n6.6 l/100 km (comb)\n8.1 l/100 km (city)\n5.7 l/100 km (country)\n       1
\n1\n\n142 g CO2/km (comb)\n                                                    1
Name: Previous Owners, Length: 102, dtype: int64

In [255]:
[item[0] if type(item) == list else item for item in df["Previous Owners"]]

['\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n0\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 nan,
 '\n2\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n2\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 nan,
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 '\n2\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n0\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n2\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 nan,
 '\n2\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n2\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n0\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n2\n',
 '\n2\n',
 nan,
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n0\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n3\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n0\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n0\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 nan,
 '\n2\n',
 nan,
 nan,
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n2\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 '\n0\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n2\n',
 nan,
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 nan,
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n2\n',
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n2\n',
 '\n1\n',
 '\n2\n',
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n4\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 '\n0\n',
 '\n1\n',
 nan,
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 '\n1\n',
 '\n1\n',
 nan,
 nan,
 nan,
 nan,
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 '\n1\n',
 ...]

In [256]:
df["Previous Owners"] = df["Previous Owners"].str.strip("\n").astype('float')

In [257]:
df["Previous Owners"].value_counts(dropna=False)

1.0    8101
NaN    6870
2.0     766
0.0     163
3.0      17
4.0       2
Name: Previous Owners, dtype: int64

In [258]:
df.prev_owner.value_counts(dropna=False)

1.0    8294
NaN    6828
2.0     778
3.0      17
4.0       2
Name: prev_owner, dtype: int64

In [259]:
df["Previous Owners"].fillna(df["prev_owner"], inplace=True)

In [260]:
df["prev_owner"].fillna(df["Previous Owners"], inplace=True)

In [261]:
df["Previous Owners"].value_counts(dropna=False)

1.0    8294
NaN    6665
2.0     778
0.0     163
3.0      17
4.0       2
Name: Previous Owners, dtype: int64

In [262]:
df.prev_owner.value_counts(dropna=False)

1.0    8294
NaN    6665
2.0     778
0.0     163
3.0      17
4.0       2
Name: prev_owner, dtype: int64

In [263]:
df.drop("Previous Owners", axis=1, inplace=True)

In [264]:
df.shape

(15919, 39)

## 10 KW

In [265]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'prev_owner', 'hp',
       'Type', 'Next Inspection', 'Inspection new', 'Warranty', 'Full Service',
       'Non-smoking Vehicle', 'null', 'Offer Number', 'Body Color',
       'Paint Type', 'Body Color Original', 'Upholstery', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', 'Comfort_Convenience',
       'Entertainment_Media', 'Extras', 'Safety_Security', 'Emission Label',
       'Gears', 'Country version', 'age'],
      dtype='object')

## 11- Hp

In [266]:
df.hp.value_counts(dropna=False)

85 kW     2542
66 kW     2122
81 kW     1402
100 kW    1308
110 kW    1112
70 kW      888
125 kW     707
51 kW      695
55 kW      569
118 kW     516
92 kW      466
121 kW     392
147 kW     380
77 kW      345
56 kW      286
54 kW      276
103 kW     253
87 kW      232
165 kW     194
88 kW      177
60 kW      160
162 kW      98
- kW        88
74 kW       81
96 kW       72
71 kW       59
101 kW      47
67 kW       40
154 kW      39
122 kW      35
119 kW      30
164 kW      27
135 kW      24
82 kW       22
52 kW       22
78 kW       20
1 kW        20
294 kW      18
146 kW      18
141 kW      16
57 kW       10
104 kW       8
120 kW       8
191 kW       7
112 kW       7
155 kW       6
117 kW       6
184 kW       5
90 kW        4
76 kW        4
65 kW        4
149 kW       3
80 kW        3
168 kW       3
98 kW        3
93 kW        3
228 kW       2
270 kW       2
53 kW        2
140 kW       2
86 kW        2
167 kW       2
127 kW       2
89 kW        2
143 kW       2
63 kW        2
40 kW        2
150 kW       2
163 kW       1
115 kW       1
132 kW       1
75 kW        1
4 kW         1
137 kW       1
123 kW       1
133 kW       1
84 kW        1
195 kW       1
44 kW        1
239 kW       1
9 kW         1
Name: hp, dtype: int64

In [267]:
df['hp'] = df['hp'].replace('- kW',np.NaN).str.findall('\d+').str.join("").astype(float)

In [268]:
df.hp.head()

0     66.0
1    141.0
2     85.0
3     66.0
4     66.0
Name: hp, dtype: float64

In [269]:
df.hp.isnull().sum()

88

## 12- Type

In [270]:
df.Type.astype(str).value_counts(dropna=False)

['', 'Used', '', 'Diesel (Particulate Filter)']                                                                                 3475
['', 'Used', '', 'Diesel']                                                                                                      2516
['', 'Used', '', 'Gasoline']                                                                                                    2367
['', 'Used', '', 'Super 95']                                                                                                    1818
['', 'Pre-registered', '', 'Super 95']                                                                                           500
                                                                                                                                ...
['', 'New', '', 'Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95']       1
['', 'Used', '', 'Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)']                               1
['', 'Demonstration', '', 'Super Plus 98']                                                                                         1
['', 'New', '', 'Super Plus E10 98']                                                                                               1
['', 'Demonstration', '', 'Regular/Benzine E10 91']                                                                                1
Name: Type, Length: 170, dtype: int64

In [271]:
df.Type.str[1].value_counts(dropna=False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
NaN                   2
Name: Type, dtype: int64

In [272]:
df.Type=df.Type.str[1]

In [273]:
df.Type.astype(str).value_counts(dropna=False)

Used              11096
New                1650
Pre-registered     1364
Employee's car     1011
Demonstration       796
nan                   2
Name: Type, dtype: int64

In [274]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'prev_owner', 'hp',
       'Type', 'Next Inspection', 'Inspection new', 'Warranty', 'Full Service',
       'Non-smoking Vehicle', 'null', 'Offer Number', 'Body Color',
       'Paint Type', 'Body Color Original', 'Upholstery', 'Nr. of Doors',
       'Nr. of Seats', 'Model Code', 'Gearing Type', 'Displacement',
       'Cylinders', 'Weight', 'Drive chain', 'Fuel', 'Consumption',
       'CO2 Emission', 'Emission Class', 'Comfort_Convenience',
       'Entertainment_Media', 'Extras', 'Safety_Security', 'Emission Label',
       'Gears', 'Country version', 'age'],
      dtype='object')

In [275]:
df.shape

(15919, 39)

## 14- Next Inspection

In [276]:
df["Next Inspection"].astype(str).value_counts(dropna=False)

nan                                           12384
\n04/2022\n                                      62
\n03/2021\n                                      38
\n03/2022\n                                      36
\n06/2021\n                                      34
                                              ...
['\n12/2018\n', '\n97 g CO2/km (comb)\n']         1
['\n03/2022\n', '\n1 (No sticker)\n']             1
['\n05/2021\n', '\n93 g CO2/km (comb)\n']         1
['\n06/2021\n', '\n93 g CO2/km (comb)\n']         1
['\n01/2022\n', '\n168 g CO2/km (comb)\n']        1
Name: Next Inspection, Length: 1400, dtype: int64

##  insp_new

In [277]:
df["Inspection new"].astype(str).value_counts(dropna=False)

nan                                                                                                            11987
['\nYes\n', '\nEuro 6\n']                                                                                        523
\nYes\n                                                                                                          362
['\nYes\n', '\n102 g CO2/km (comb)\n']                                                                           174
['\nYes\n', '\n4 (Green)\n']                                                                                     166
                                                                                                               ...
['\nYes\n', '\n', '6 l/100 km (comb)', '\n', '8 l/100 km (city)', '\n', '4.9 l/100 km (country)', '\n']            1
['\nYes\n', '\n', '6.8 l/100 km (comb)', '\n', '8.5 l/100 km (city)', '\n', '6.1 l/100 km (country)', '\n']        1
['\nYes\n', '\n', '4.1 l/100 km (comb)', '\n', '7.5 l/100 km (city)', '\n', '5.2 l/100 km (country)', '\n']        1
['\nYes\n', '\n', '5.2 l/100 km (comb)', '\n', '6.8 l/100 km (city)', '\n', '4.3 l/100 km (country)', '\n']        1
['\nYes\n', '\n172 g CO2/km (comb)\n']                                                                             1
Name: Inspection new, Length: 203, dtype: int64

In [278]:
df["Inspection_new"] = [item[0] if type(item) == list else item for item in df["Inspection new"]]

df["Inspection_new"] = df["Inspection_new"].str.strip("\n")

In [279]:
df["Inspection_new"].value_counts(dropna=False)

NaN    11987
Yes     3932
Name: Inspection_new, dtype: int64

In [280]:
df.drop(["Next Inspection", "Inspection new"], axis=1, inplace=True)

In [281]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'prev_owner', 'hp',
       'Type', 'Warranty', 'Full Service', 'Non-smoking Vehicle', 'null',
       'Offer Number', 'Body Color', 'Paint Type', 'Body Color Original',
       'Upholstery', 'Nr. of Doors', 'Nr. of Seats', 'Model Code',
       'Gearing Type', 'Displacement', 'Cylinders', 'Weight', 'Drive chain',
       'Fuel', 'Consumption', 'CO2 Emission', 'Emission Class',
       'Comfort_Convenience', 'Entertainment_Media', 'Extras',
       'Safety_Security', 'Emission Label', 'Gears', 'Country version', 'age',
       'Inspection_new'],
      dtype='object')

## 16- Warranty

In [282]:
df.Warranty.astype(str).value_counts(dropna=False)

nan                                                                                                                5420
['\n', '\n', '\nEuro 6\n']                                                                                         1868
\n12 months\n                                                                                                      1177
\n                                                                                                                  979
\n24 months\n                                                                                                       566
                                                                                                                   ...
['\n72 months\n', '\n125 g CO2/km (comb)\n']                                                                          1
['\n60 months\n', '\n14 g CO2/km (comb)\n']                                                                           1
['\n24 months\n', '\n121 g CO2/km (comb)\n']                                                                          1
['\n12 months\n', '\nEuro 6d\n']                                                                                      1
['\n36 months\n', '\n', '7.4 l/100 km (comb)', '\n', '9.6 l/100 km (city)', '\n', '6 l/100 km (country)', '\n']       1
Name: Warranty, Length: 516, dtype: int64

In [283]:
df.Warranty.str.join('').value_counts(dropna=False)

NaN                                                                                5420
\n\n\nEuro 6\n                                                                     1868
\n12 months\n                                                                      1305
\n                                                                                  979
\n24 months\n                                                                       585
                                                                                   ...
\n2 months\n                                                                          1
\n72 months\n\n125 g CO2/km (comb)\n                                                  1
\n60 months\n\n14 g CO2/km (comb)\n                                                   1
\n24 months\n\n121 g CO2/km (comb)\n                                                  1
\n36 months\n\n7.4 l/100 km (comb)\n9.6 l/100 km (city)\n6 l/100 km (country)\n       1
Name: Warranty, Length: 508, dtype: int64

In [284]:
df["Warranty"] = df.Warranty.apply(lambda x : x[0] if type(x)==list else x)

In [285]:
df.Warranty.str.join('').value_counts(dropna=False)

\n               5645
NaN              5420
\n12 months\n    2594
\n24 months\n    1118
\n60 months\n     401
\n36 months\n     279
\n48 months\n     149
\n6 months\n      125
\n72 months\n      59
\n3 months\n       33
\n23 months\n      11
\n18 months\n      10
\n20 months\n       7
\n25 months\n       6
\n2 months\n        5
\n50 months\n       4
\n26 months\n       4
\n16 months\n       4
\n1 months\n        3
\n19 months\n       3
\n4 months\n        3
\n34 months\n       3
\n13 months\n       3
\n17 months\n       2
\n45 months\n       2
\n9 months\n        2
\n21 months\n       2
\n14 months\n       2
\n28 months\n       2
\n11 months\n       2
\n22 months\n       2
\n46 months\n       2
\n10 months\n       1
\n8 months\n        1
\n7 months\n        1
\n15 months\n       1
                    1
\n56 months\n       1
\n49 months\n       1
\n65 months\n       1
\n47 months\n       1
\n33 months\n       1
\n40 months\n       1
\n30 months\n       1
Name: Warranty, dtype: int64

In [286]:
df.Warranty=df.Warranty.str.split(",").str[0].str.extract('(\d+)')[0].astype('float')

In [287]:
df.Warranty.value_counts(dropna=False)

NaN     11066
12.0     2594
24.0     1118
60.0      401
36.0      279
48.0      149
6.0       125
72.0       59
3.0        33
23.0       11
18.0       10
20.0        7
25.0        6
2.0         5
50.0        4
26.0        4
16.0        4
4.0         3
1.0         3
19.0        3
34.0        3
13.0        3
28.0        2
22.0        2
14.0        2
11.0        2
46.0        2
21.0        2
9.0         2
17.0        2
45.0        2
33.0        1
40.0        1
65.0        1
10.0        1
15.0        1
7.0         1
8.0         1
56.0        1
49.0        1
47.0        1
30.0        1
Name: Warranty, dtype: int64

## 17- Full Service

In [288]:
df["Full Service"].astype(str).value_counts(dropna=False)

nan                                                                                                             7704
['\n', '\n', '\n4 (Green)\n']                                                                                   2235
['\n', '\n', '\nEuro 6\n']                                                                                      2097
['\n', '\n']                                                                                                    1702
['\n', '\n', '\nEuro 6d-TEMP\n']                                                                                 399
                                                                                                                ...
['\n', '\n', '\n80 g CO2/km (comb)\n']                                                                             1
['\n', '\n', '\n84 g CO2/km (comb)\n']                                                                             1
['\n', '\n', '\n', '6 l/100 km (comb)', '\n', '8 l/100 km (city)', '\n', '4.9 l/100 km (country)', '\n']           1
['\n', '\n', '\n', '4.9 l/100 km (comb)', '\n', '6.2 l/100 km (city)', '\n', '4.1 l/100 km (country)', '\n']       1
['\n', '\n', '\nEuro 4\n']                                                                                         1
Name: Full Service, Length: 123, dtype: int64

In [289]:
df.drop("Full Service", axis=1, inplace=True)

## 18 Non-smoking_vehicle

In [290]:
df["Non-smoking Vehicle"].astype(str).value_counts(dropna=False)

nan                                                                                                             8742
['\n', '\n']                                                                                                    3647
['\n', '\n', '\n4 (Green)\n']                                                                                   1240
['\n', '\n', '\nEuro 6\n']                                                                                      1127
['\n', '\n', '\nEuro 6d-TEMP\n']                                                                                 345
\n                                                                                                                70
['\n', '\n', '\n120 g CO2/km (comb)\n']                                                                           63
['\n', '\n', '\n85 g CO2/km (comb)\n']                                                                            46
['\n', '\n', '\n104 g CO2/km (comb)\n']                                                                           36
['\n', '\n', '\n107 g CO2/km (comb)\n']                                                                           36
['\n', '\n', '\n153 g CO2/km (comb)\n']                                                                           31
['\n', '\n', '\n124 g CO2/km (comb)\n']                                                                           29
['\n', '\n', '\n1 (No sticker)\n']                                                                                24
['\n', '\n', '\n99 g CO2/km (comb)\n']                                                                            23
['\n', '\n', '\n106 g CO2/km (comb)\n']                                                                           20
['\n', '\n', '\n97 g CO2/km (comb)\n']                                                                            20
['\n', '\n', '\n108 g CO2/km (comb)\n']                                                                           19
['\n', '\n', '\n113 g CO2/km (comb)\n']                                                                           18
['\n', '\n', '\n100 g CO2/km (comb)\n']                                                                           18
['\n', '\n', '\n109 g CO2/km (comb)\n']                                                                           18
['\n', '\n', '\n105 g CO2/km (comb)\n']                                                                           18
['\n', '\n', '\nEuro 6c\n']                                                                                       17
['\n', '\n', '\n98 g CO2/km (comb)\n']                                                                            15
['\n', '\n', '\n129 g CO2/km (comb)\n']                                                                           14
['\n', '\n', '\n131 g CO2/km (comb)\n']                                                                           13
['\n', '\n', '\n133 g CO2/km (comb)\n']                                                                           12
['\n', '\n', '\n103 g CO2/km (comb)\n']                                                                           12
['\n', '\n', '\n114 g CO2/km (comb)\n']                                                                           12
['\n', '\n', '\n116 g CO2/km (comb)\n']                                                                           11
['\n', '\n', '\n135 g CO2/km (comb)\n']                                                                           11
['\n', '\n', '\n102 g CO2/km (comb)\n']                                                                           11
['\n', '\n', '\n127 g CO2/km (comb)\n']                                                                           10
['\n', '\n', '\n143 g CO2/km (comb)\n']                                                                           10
['\n', '\n', '\n92 g CO2/km (comb)\n']                                                                             9
['\n', '\n', '\nEuro 6d\n']                                                                                        9
['\n', '\n', '\n112 g CO2/km (comb)\n']                                                                            9
['\n', '\n', '\n5 (Blue)\n']                                                                                       8
['\n', '\n', '\n118 g CO2/km (comb)\n']                                                                            8
['\n', '\n', '\n139 g CO2/km (comb)\n']                                                                            7
['\n', '\n', '\n128 g CO2/km (comb)\n']                                                                            7
['\n', '\n', '\n147 g CO2/km (comb)\n']                                                                            7
['\n', '\n', '\n126 g CO2/km (comb)\n']                                                                            6
['\n', '\n', '\n137 g CO2/km (comb)\n']                                                                            6
['\n', '\n', '\n117 g CO2/km (comb)\n']                                                                            6
['\n', '\n', '\n140 g CO2/km (comb)\n']                                                                            6
['\n', '\n', '\n130 g CO2/km (comb)\n']                                                                            5
['\n', '\n', '\n115 g CO2/km (comb)\n']                                                                            5
['\n', '\n', '\nEuro 5\n']                                                                                         4
['\n', '\n', '\n', '5.2 l/100 km (comb)', '\n', '5.8 l/100 km (city)', '\n', '4.8 l/100 km (country)', '\n']       4
['\n', '\n', '\n123 g CO2/km (comb)\n']                                                                            4
['\n', '\n', '\n151 g CO2/km (comb)\n']                                                                            4
['\n', '\n', '\n95 g CO2/km (comb)\n']                                                                             3
['\n', '\n', '\n119 g CO2/km (comb)\n']                                                                            3
['\n', '\n', '\n148 g CO2/km (comb)\n']                                                                            3
['\n', '\n', '\n157 g CO2/km (comb)\n']                                                                            3
['\n', '\n', '\n136 g CO2/km (comb)\n']                                                                            3
['\n', '\n', '\n110 g CO2/km (comb)\n']                                                                            3
['\n', '\n', '\n149 g CO2/km (comb)\n']                                                                            3
['\n', '\n', '\n138 g CO2/km (comb)\n']                                                                            2
['\n', '\n', '\n125 g CO2/km (comb)\n']                                                                            2
['\n', '\n', '\n', '5.2 l/100 km (comb)', '\n', '6.4 l/100 km (city)', '\n', '4.4 l/100 km (country)', '\n']       2
['\n', '\n', '\n166 g CO2/km (comb)\n']                                                                            2
['\n', '\n', '\n121 g CO2/km (comb)\n']                                                                            2
['\n', '\n', '\n142 g CO2/km (comb)\n']                                                                            2
['\n', '\n', '\n90 g CO2/km (comb)\n']                                                                             2
['\n', '\n', '\n111 g CO2/km (comb)\n']                                                                            2
['\n', '\n', '\n134 g CO2/km (comb)\n']                                                                            2
['\n', '\n', '\n', '6.5 l/100 km (comb)', '\n', '8.5 l/100 km (city)', '\n', '5.4 l/100 km (country)', '\n']       1
['\n', '\n', '\n', '6.4 l/100 km (comb)', '\n', '8.1 l/100 km (city)', '\n', '5.4 l/100 km (country)', '\n']       1
['\n', '\n', '\n161 g CO2/km (comb)\n']                                                                            1
['\n', '\n', '\n172 g CO2/km (comb)\n']                                                                            1
['\n', '\n', '\n189 g CO2/km (comb)\n']                                                                            1
['\n', '\n', '\n82 g CO2/km (comb)\n']                                                                             1
['\n', '\n', '\n154 g CO2/km (comb)\n']                                                                            1
['\n', '\n', '\n', '6.5 l/100 km (comb)', '\n', '7.9 l/100 km (city)', '\n', '5.6 l/100 km (country)', '\n']       1
['\n', '\n', '\n', '6.3 l/100 km (comb)', '\n', '8 l/100 km (city)', '\n', '5.3 l/100 km (country)', '\n']         1
['\n', '\n', '\n146 g CO2/km (comb)\n']                                                                            1
['\n', '\n', '\n', '5.7 l/100 km (comb)', '\n', '7.3 l/100 km (city)', '\n', '4.7 l/100 km (country)', '\n']       1
['\n', '\n', '\n', '6.1 l/100 km (comb)', '\n', '7.7 l/100 km (city)', '\n', '5.2 l/100 km (country)', '\n']       1
['\n', '\n', '\n156 g CO2/km (comb)\n']                                                                            1
['\n', '\n', '\n', '6.1 l/100 km (comb)', '\n', '7.8 l/100 km (city)', '\n', '5.1 l/100 km (country)', '\n']       1
['\n', '\n', '\n', '6.2 l/100 km (comb)', '\n', '7.9 l/100 km (city)', '\n', '5.3 l/100 km (country)', '\n']       1
['\n', '\n', '\n152 g CO2/km (comb)\n']                                                                            1
['\n', '\n', '\n144 g CO2/km (comb)\n']                                                                            1
['\n', '\n', '\n132 g CO2/km (comb)\n']                                                                            1
['\n', '\n', '\n', '1.6 l/100 km (comb)', '\n', '\n', '\n']                                                        1
['\n', '\n', '\n169 g CO2/km (comb)\n']                                                                            1
['\n', '\n', '\n101 g CO2/km (comb)\n']                                                                            1
['\n', '\n', '\n159 g CO2/km (comb)\n']                                                                            1
['\n', '\n', '\n91 g CO2/km (comb)\n']                                                                             1
['\n', '\n', '\n', '5.6 l/100 km (comb)', '\n', '7.3 l/100 km (city)', '\n', '4.7 l/100 km (country)', '\n']       1
['\n', '\n', '\n122 g CO2/km (comb)\n']                                                                            1
['\n', '\n', '\n158 g CO2/km (comb)\n']                                                                            1
['\n', '\n', '\n150 g CO2/km (comb)\n']                                                                            1
['\n', '\n', '\n175 g CO2/km (comb)\n']                                                                            1
Name: Non-smoking Vehicle, dtype: int64

In [291]:
df.drop("Non-smoking Vehicle", axis=1, inplace=True)

In [292]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'prev_owner', 'hp',
       'Type', 'Warranty', 'null', 'Offer Number', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Nr. of Doors', 'Nr. of Seats',
       'Model Code', 'Gearing Type', 'Displacement', 'Cylinders', 'Weight',
       'Drive chain', 'Fuel', 'Consumption', 'CO2 Emission', 'Emission Class',
       'Comfort_Convenience', 'Entertainment_Media', 'Extras',
       'Safety_Security', 'Emission Label', 'Gears', 'Country version', 'age',
       'Inspection_new'],
      dtype='object')

## 19- Null

In [293]:
df.null.astype(str).value_counts(dropna=False)

[]    15919
Name: null, dtype: int64

In [294]:
df.drop("null", axis=1, inplace=True)

## 22- Offer Number

In [295]:
df["Offer Number"].astype(str).value_counts(dropna=False)

nan                                                 3175
['\nLT67679\n']                                       27
['\nUN89904\n']                                       27
['\nXJ38068\n']                                       27
['\nJV03654\n']                                       27
                                                    ...
['\n160_dcbb6c3e-a6da-43a3-8754-ccd994cec93b\n']       1
['\n6701576\n']                                        1
['\n6701569\n']                                        1
['\n158121\n']                                         1
['\nRe_30000008029\n']                                 1
Name: Offer Number, Length: 11441, dtype: int64

In [296]:
df.drop("Offer Number", axis=1, inplace=True)

## 24- Body type

In [297]:
df['Body Color'].astype('str').value_counts(dropna=False)

['\n', 'Black', '\n']     3745
['\n', 'Grey', '\n']      3505
['\n', 'White', '\n']     3406
['\n', 'Silver', '\n']    1647
['\n', 'Blue', '\n']      1431
['\n', 'Red', '\n']        957
nan                        597
['\n', 'Brown', '\n']      289
['\n', 'Green', '\n']      154
['\n', 'Beige', '\n']      108
['\n', 'Yellow', '\n']      51
['\n', 'Violet', '\n']      18
['\n', 'Bronze', '\n']       6
['\n', 'Orange', '\n']       3
['\n', 'Gold', '\n']         2
Name: Body Color, dtype: int64

In [298]:
df["Body Color"]=df["Body Color"].str.join("").str.strip('\n')

In [299]:
df["Body Color"].isnull().sum()

597

In [300]:
df.groupby("Body Color")['price'].mean()

Body Color
Beige     16785.490741
Black     18920.888117
Blue      17140.855346
Bronze    17458.166667
Brown     18663.297578
Gold        134.000000
Green     17820.694805
Grey      18843.907846
Orange    18166.666667
Red       15692.065831
Silver    16461.587128
Violet    23005.388889
White     17200.623899
Yellow    23971.137255
Name: price, dtype: float64

## 25- Paint type

In [301]:
df['Paint Type'].astype('str').value_counts(dropna=False)

['\nMetallic\n']       9794
nan                    5772
['\nUni/basic\n']       347
['\nPerl effect\n']       6
Name: Paint Type, dtype: int64

In [302]:
df["Paint Type"]=df["Paint Type"].str.join("").str.strip('\n')
df["Paint Type"].value_counts(dropna=False)

Metallic       9794
NaN            5772
Uni/basic       347
Perl effect       6
Name: Paint Type, dtype: int64

In [303]:
df.groupby("Paint Type")['price'].mean()

Paint Type
Metallic       18593.333163
Perl effect    15428.333333
Uni/basic      17760.184438
Name: price, dtype: float64

## 26- Body Color Original

In [304]:
df['Body Color Original'].astype('str').value_counts(dropna=False)

nan                                      3759
['\nOnyx Schwarz\n']                      338
['\nBianco\n']                            282
['\nMythosschwarz Metallic\n']            238
['\nBrillantschwarz\n']                   216
                                         ...
['\nRouge-Braun (G0Y)\n']                   1
['\nVARI COLRI DISPONIBILI\n']              1
['\nKokosnussbraun Metallic\n']             1
['\nFarbe frei wählbar\n']                  1
['\nPerlmutt-Weiß Metallic (Weiß)\n']       1
Name: Body Color Original, Length: 1928, dtype: int64

In [305]:
df.drop("Body Color Original", axis=1, inplace=True)

## 27- Upholstery

In [306]:
df["Upholstery"].str.join('').str.strip('\n').value_counts(dropna=False)

Cloth, Black           5821
NaN                    3720
Part leather, Black    1121
Cloth                  1005
Cloth, Grey             891
Cloth, Other            639
Full leather, Black     575
Black                   491
Grey                    273
Other, Other            182
Part leather            140
Full leather            139
Full leather, Brown     116
Part leather, Grey      116
Other, Black            110
Full leather, Other      72
Full leather, Grey       67
Part leather, Other      65
Other                    56
Part leather, Brown      50
alcantara, Black         47
Velour, Black            36
Full leather, Beige      36
Cloth, Brown             28
Velour                   16
Other, Grey              15
Cloth, Beige             13
Brown                    12
Cloth, Blue              12
Velour, Grey              8
Cloth, White              8
alcantara, Grey           6
Cloth, Red                5
Other, Yellow             4
Part leather, Red         3
Beige                     3
Part leather, White       2
Full leather, Blue        2
alcantara, Other          2
alcantara                 2
White                     2
Part leather, Beige       2
Blue                      2
Cloth, Orange             1
Full leather, Red         1
Other, Brown              1
Full leather, White       1
Name: Upholstery, dtype: int64

In [307]:
df.Upholstery = [item[0] if type(item) == list else item for item in df.Upholstery]
df.Upholstery = df.Upholstery.str.strip('\n').str.split(', ')
u_type  = ['Cloth', 'Part leather', 'Full leather', 'Velour', 'alcantara']
df['Upholstery_Type'] = df.Upholstery.apply(lambda x : x[0] if type(x) == list and x[0] in u_type else np.nan)

In [308]:
df.Upholstery.str.join('').value_counts(dropna = False)

ClothBlack           5821
NaN                  3720
Part leatherBlack    1121
Cloth                1005
ClothGrey             891
ClothOther            639
Full leatherBlack     575
Black                 491
Grey                  273
OtherOther            182
Part leather          140
Full leather          139
Full leatherBrown     116
Part leatherGrey      116
OtherBlack            110
Full leatherOther      72
Full leatherGrey       67
Part leatherOther      65
Other                  56
Part leatherBrown      50
alcantaraBlack         47
VelourBlack            36
Full leatherBeige      36
ClothBrown             28
Velour                 16
OtherGrey              15
ClothBeige             13
Brown                  12
ClothBlue              12
VelourGrey              8
ClothWhite              8
alcantaraGrey           6
ClothRed                5
OtherYellow             4
Part leatherRed         3
Beige                   3
Part leatherWhite       2
Full leatherBlue        2
alcantaraOther          2
alcantara               2
White                   2
Part leatherBeige       2
Blue                    2
ClothOrange             1
Full leatherRed         1
OtherBrown              1
Full leatherWhite       1
Name: Upholstery, dtype: int64

In [309]:
color = ['Black', 'Grey', 'Brown', 'Beige', 'White', 'Blue', 'Red', 'Yellow', 'Orange']

def finder(x):
    if type(x) == list and len(x) == 2 :
        return x[1]
    elif type(x) == list and x[0] in color :
        return x[0]
    else :
        return np.nan
df['Upholstery_color'] = df.Upholstery.apply(finder)

In [310]:
df.drop('Upholstery', axis = 1, inplace = True)

## 29- Nr_of_doors

In [311]:
df["Nr. of Doors"].astype(str).value_counts()

['\n5\n']    11575
['\n4\n']     3079
['\n3\n']      832
['\n2\n']      219
nan            212
['\n1\n']        1
['\n7\n']        1
Name: Nr. of Doors, dtype: int64

In [312]:
df["nr_of_doors"] = df["Nr. of Doors"].str.join("").str.strip('\n').astype(float)
df["nr_of_doors"].value_counts(dropna=False)

5.0    11575
4.0     3079
3.0      832
2.0      219
NaN      212
1.0        1
7.0        1
Name: nr_of_doors, dtype: int64

In [313]:
df["nr_of_doors"].value_counts()

5.0    11575
4.0     3079
3.0      832
2.0      219
1.0        1
7.0        1
Name: nr_of_doors, dtype: int64

In [314]:
df.drop('Nr. of Doors', axis = 1, inplace = True)

In [315]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'prev_owner', 'hp',
       'Type', 'Warranty', 'Body Color', 'Paint Type', 'Nr. of Seats',
       'Model Code', 'Gearing Type', 'Displacement', 'Cylinders', 'Weight',
       'Drive chain', 'Fuel', 'Consumption', 'CO2 Emission', 'Emission Class',
       'Comfort_Convenience', 'Entertainment_Media', 'Extras',
       'Safety_Security', 'Emission Label', 'Gears', 'Country version', 'age',
       'Inspection_new', 'Upholstery_Type', 'Upholstery_color', 'nr_of_doors'],
      dtype='object')

## 30- Nr. of Seats

In [316]:
df["Nr. of Seats"].astype('str').value_counts(dropna=False)

['\n5\n']    13336
['\n4\n']     1125
nan            977
['\n7\n']      362
['\n2\n']      116
['\n6\n']        2
['\n3\n']        1
Name: Nr. of Seats, dtype: int64

In [317]:
df["nr_of_seats"] = df["Nr. of Seats"].str.join("").str.strip('\n').astype(float)
df["nr_of_seats"].value_counts(dropna=False)

5.0    13336
4.0     1125
NaN      977
7.0      362
2.0      116
6.0        2
3.0        1
Name: nr_of_seats, dtype: int64

In [318]:
df["nr_of_seats"].value_counts(dropna=False)

5.0    13336
4.0     1125
NaN      977
7.0      362
2.0      116
6.0        2
3.0        1
Name: nr_of_seats, dtype: int64

In [319]:
df.drop('Nr. of Seats', axis = 1, inplace = True)

In [320]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'prev_owner', 'hp',
       'Type', 'Warranty', 'Body Color', 'Paint Type', 'Model Code',
       'Gearing Type', 'Displacement', 'Cylinders', 'Weight', 'Drive chain',
       'Fuel', 'Consumption', 'CO2 Emission', 'Emission Class',
       'Comfort_Convenience', 'Entertainment_Media', 'Extras',
       'Safety_Security', 'Emission Label', 'Gears', 'Country version', 'age',
       'Inspection_new', 'Upholstery_Type', 'Upholstery_color', 'nr_of_doors',
       'nr_of_seats'],
      dtype='object')

## 31- Model code

In [321]:
df["Model Code"].astype(str).value_counts()

nan                 10941
['\n0035/BCB\n']      268
['\n0588/BNO\n']      245
['\n0588/BDB\n']      206
['\n0588/BHX\n']      188
                    ...
['\n0035/AVN\n']        1
['\n0035/BEM\n']        1
['\n0035/BAG\n']        1
['\n0035/BAA\n']        1
['\n3333/BKG\n']        1
Name: Model Code, Length: 233, dtype: int64

In [322]:
df.drop("Model Code",axis=1, inplace=True)

## 31- gearing_type

In [323]:
df["Gearing Type"].astype('str').value_counts(dropna=False)

['\n', 'Manual', '\n']            8153
['\n', 'Automatic', '\n']         7297
['\n', 'Semi-automatic', '\n']     469
Name: Gearing Type, dtype: int64

In [324]:
df['Gearing_Type'] = df['Gearing Type'].str[1]

In [325]:
df["Gearing_Type"].value_counts(dropna=False)

Manual            8153
Automatic         7297
Semi-automatic     469
Name: Gearing_Type, dtype: int64

In [326]:
df.groupby("Gearing_Type")['price'].mean()

Gearing_Type
Automatic         21163.176237
Manual            14906.548632
Semi-automatic    23236.562900
Name: price, dtype: float64

In [327]:
df.drop("Gearing Type",axis=1,inplace=True)

## 33- Displacement

In [328]:
df.Displacement.astype(str).value_counts(dropna=False)

['\n1,598 cc\n']     4761
['\n999 cc\n']       2438
['\n1,398 cc\n']     1314
['\n1,399 cc\n']      749
['\n1,229 cc\n']      677
['\n1,956 cc\n']      670
['\n1,461 cc\n']      595
['\n1,490 cc\n']      559
nan                   496
['\n1,422 cc\n']      467
['\n1,197 cc\n']      353
['\n898 cc\n']        351
['\n1,395 cc\n']      320
['\n1,968 cc\n']      301
['\n1,149 cc\n']      288
['\n1,618 cc\n']      212
['\n1,798 cc\n']      210
['\n1,498 cc\n']      196
['\n1,600 cc\n']      130
['\n1,248 cc\n']      110
['\n1,997 cc\n']      103
['\n1,364 cc\n']      102
['\n1,400 cc\n']       90
['\n998 cc\n']         72
['\n1,500 cc\n']       50
['\n2,000 cc\n']       46
['\n1,000 cc\n']       40
['\n1 cc\n']           36
['\n1,998 cc\n']       25
['\n2,480 cc\n']       20
['\n1,200 cc\n']       18
['\n1,984 cc\n']       18
['\n1,397 cc\n']       11
['\n899 cc\n']         11
['\n160 cc\n']          6
['\n929 cc\n']          5
['\n1,499 cc\n']        5
['\n997 cc\n']          4
['\n1,596 cc\n']        4
['\n139 cc\n']          4
['\n900 cc\n']          4
['\n1,599 cc\n']        3
['\n1,199 cc\n']        3
['\n1,396 cc\n']        3
['\n1,495 cc\n']        2
['\n1,589 cc\n']        2
['\n1,300 cc\n']        2
['\n2 cc\n']            2
['\n995 cc\n']          2
['\n1,496 cc\n']        1
['\n890 cc\n']          1
['\n1,580 cc\n']        1
['\n1,995 cc\n']        1
['\n1,333 cc\n']        1
['\n54 cc\n']           1
['\n1,533 cc\n']        1
['\n1,100 cc\n']        1
['\n1,350 cc\n']        1
['\n16,000 cc\n']       1
['\n1,856 cc\n']        1
['\n1,568 cc\n']        1
['\n1,896 cc\n']        1
['\n1,584 cc\n']        1
['\n996 cc\n']          1
['\n1,696 cc\n']        1
['\n1,686 cc\n']        1
['\n15,898 cc\n']       1
['\n1,368 cc\n']        1
['\n140 cc\n']          1
['\n973 cc\n']          1
['\n1,239 cc\n']        1
['\n1,369 cc\n']        1
['\n1,390 cc\n']        1
['\n122 cc\n']          1
['\n1,198 cc\n']        1
['\n1,195 cc\n']        1
['\n2,967 cc\n']        1
['\n1,800 cc\n']        1
Name: Displacement, dtype: int64

In [329]:
df["Displacement"] = df["Displacement"].str.join("").str.strip('\n').str.findall('\d+').str.join("").str.strip(',').astype('float')
df["Displacement"].value_counts(dropna=False)

1598.0     4761
999.0      2438
1398.0     1314
1399.0      749
1229.0      677
1956.0      670
1461.0      595
1490.0      559
NaN         496
1422.0      467
1197.0      353
898.0       351
1395.0      320
1968.0      301
1149.0      288
1618.0      212
1798.0      210
1498.0      196
1600.0      130
1248.0      110
1997.0      103
1364.0      102
1400.0       90
998.0        72
1500.0       50
2000.0       46
1000.0       40
1.0          36
1998.0       25
2480.0       20
1200.0       18
1984.0       18
1397.0       11
899.0        11
160.0         6
929.0         5
1499.0        5
997.0         4
1596.0        4
139.0         4
900.0         4
1599.0        3
1199.0        3
1396.0        3
1495.0        2
1589.0        2
1300.0        2
2.0           2
995.0         2
1496.0        1
890.0         1
1580.0        1
1995.0        1
1333.0        1
54.0          1
1533.0        1
1100.0        1
1350.0        1
16000.0       1
1856.0        1
1568.0        1
1896.0        1
1584.0        1
996.0         1
1696.0        1
1686.0        1
15898.0       1
1368.0        1
140.0         1
973.0         1
1239.0        1
1369.0        1
1390.0        1
122.0         1
1198.0        1
1195.0        1
2967.0        1
1800.0        1
Name: Displacement, dtype: int64

## 34- Cylinders

In [330]:
df["Cylinders"] = df["Cylinders"].str[0].str.strip('\n')
df["Cylinders"].value_counts(dropna=False)

4      8105
NaN    5680
3      2104
5        22
6         3
8         2
2         2
1         1
Name: Cylinders, dtype: int64

## 35- Weight

In [331]:
df["weight"] = df["Weight"].str.join("").str.strip('\n').str.findall('\d+').str.join("").str.strip(',').astype('float')
df["weight"].value_counts(dropna=False)

NaN       6974
1163.0     574
1360.0     356
1165.0     301
1335.0     242
          ...
1960.0       1
1258.0       1
1167.0       1
1331.0       1
2037.0       1
Name: weight, Length: 435, dtype: int64

In [332]:
df.drop("Weight", axis=1, inplace=True)

## 36- Drive_chain

In [333]:
df["Drive chain"].astype('str').value_counts(dropna=False)

['\nfront\n']    8886
nan              6858
['\n4WD\n']       171
['\nrear\n']        4
Name: Drive chain, dtype: int64

In [334]:
df["Drive chain"] = df["Drive chain"].str.join("").str.strip('\n')
df["Drive chain"].value_counts()

front    8886
4WD       171
rear        4
Name: Drive chain, dtype: int64

## 37- Fuel

In [335]:
df["Fuel"].astype('str').value_counts(dropna=False)

['\n', 'Diesel (Particulate Filter)', '\n']                                                                                                       4315
['\n', 'Super 95', '\n']                                                                                                                          3338
['\n', 'Gasoline', '\n']                                                                                                                          3175
['\n', 'Diesel', '\n']                                                                                                                            2984
['\n', 'Super 95 / Regular/Benzine 91', '\n']                                                                                                      424
['\n', 'Regular/Benzine 91', '\n']                                                                                                                 354
['\n', 'Super E10 95', '\n']                                                                                                                       331
['\n', 'Super 95 (Particulate Filter)', '\n']                                                                                                      268
['\n', 'Super 95 / Super E10 95', '\n']                                                                                                            131
['\n', 'Regular/Benzine 91 (Particulate Filter)', '\n']                                                                                            100
['\n', 'Super 95 / Super Plus 98', '\n']                                                                                                            85
['\n', 'Gasoline (Particulate Filter)', '\n']                                                                                                       77
['\n', 'Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98', '\n']                                                                         40
['\n', 'Super E10 95 / Super 95', '\n']                                                                                                             38
['\n', 'CNG', '\n']                                                                                                                                 33
['\n', 'Super 95 / Super E10 95 (Particulate Filter)', '\n']                                                                                        25
['\n', 'Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98', '\n']                                                                         19
['\n', 'LPG', '\n']                                                                                                                                 16
['\n', 'Super 95 / Super Plus 98 (Particulate Filter)', '\n']                                                                                       14
['\n', 'Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98', '\n']                           13
['\n', 'Regular/Benzine E10 91', '\n']                                                                                                              11
['\n', 'Liquid petroleum gas (LPG)', '\n']                                                                                                          10
['\n', 'Super 95 / Super Plus 98 / Super E10 95', '\n']                                                                                              8
['\n', 'Regular/Benzine 91 / Regular/Benzine E10 91', '\n']                                                                                          7
['\n', 'Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98', '\n']                            7
['\n', 'Super Plus 98', '\n']                                                                                                                        7
['\n', 'Super E10 95 (Particulate Filter)', '\n']                                                                                                    7
['\n', 'Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95', '\n']                                                                          5
['\n', 'Others', '\n']                                                                                                                               5
['\n', 'Super E10 95 / Super Plus E10 98', '\n']                                                                                                     4
['\n', 'Electric/Gasoline', '\n']                                                                                                                    4
['\n', 'Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98 (Particulate Filter)', '\n']                                                     4
['\n', 'Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98', '\n']                                                                          4
['\n', 'Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95', '\n']                            4
['\n', 'CNG (Particulate Filter)', '\n']                                                                                                             3
['\n', 'Super E10 95 / Super 95 / Super Plus 98 / Super Plus E10 98 (Particulate Filter)', '\n']                                                     3
['\n', 'Super E10 95 / Super 95 / Super Plus 98', '\n']                                                                                              3
['\n', 'Super E10 95 / Regular/Benzine 91', '\n']                                                                                                    2
['\n', 'Super 95 / Regular/Benzine 91 / Super Plus 98', '\n']                                                                                        2
['\n', 'Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91', '\n']                            2
['\n', 'Regular/Benzine 91 / Super 95 / Super E10 95', '\n']                                                                                         1
['\n', 'Electric', '\n']                                                                                                                             1
['\n', 'Regular/Benzine 91 / Super 95 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91', '\n']                            1
['\n', 'Super 95 / Super E10 95 / Super Plus E10 98', '\n']                                                                                          1
['\n', 'Super 95 / Super E10 95 / Super Plus 98', '\n']                                                                                              1
['\n', 'Regular/Benzine 91 / Super 95 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 / Super Plus 98', '\n']                            1
['\n', 'Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95 / Regular/Benzine 91', '\n']                            1
['\n', 'Super 95 / Regular/Benzine E10 91', '\n']                                                                                                    1
['\n', 'Super E10 95 / Regular/Benzine 91 / Regular/Benzine E10 91 / Super 95', '\n']                                                                1
['\n', 'Super Plus 98 / Regular/Benzine 91', '\n']                                                                                                   1
['\n', 'Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98 / Regular/Benzine E10 91', '\n']                            1
['\n', 'Super 95 / Super Plus 98 / Super Plus E10 98', '\n']                                                                                         1
['\n', 'Super 95 / Regular/Benzine 91 (Particulate Filter)', '\n']                                                                                   1
['\n', 'Super 95 / Super E10 95 / Regular/Benzine 91', '\n']                                                                                         1
['\n', 'Regular/Benzine 91 / Super 95 / Super E10 95 / Regular/Benzine E10 91', '\n']                                                                1
['\n', 'Super 95 / Regular/Benzine E10 91 / Super E10 95', '\n']                                                                                     1
['\n', 'Super 95 / Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98 / Super E10 95', '\n']                            1
['\n', 'Regular/Benzine E10 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Super 95 / Regular/Benzine 91', '\n']                            1
['\n', 'Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98', '\n']                                                     1
['\n', 'Others (Particulate Filter)', '\n']                                                                                                          1
['\n', 'Biogas', '\n']                                                                                                                               1
['\n', 'Super 95 / Biodiesel', '\n']                                                                                                                 1
['\n', 'Regular/Benzine 91 / Super 95 / Super Plus 98 / Super Plus E10 98 / Super E10 95 / Regular/Benzine E10 91 (Particulate Filter)', '\n']       1
['\n', 'Regular/Benzine 91 / Super 95 / Super Plus 98', '\n']                                                                                        1
['\n', 'Regular/Benzine 91 / Super 95', '\n']                                                                                                        1
['\n', 'Regular/Benzine E10 91 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Super E10 95 / Super Plus E10 98', '\n']                            1
['\n', 'Domestic gas H', '\n']                                                                                                                       1
['\n', 'Super E10 95 / Regular/Benzine 91 / Super 95 / Super Plus 98 / Regular/Benzine E10 91 / Super Plus E10 98', '\n']                            1
['\n', 'Super Plus E10 98 / Super 95 / Super Plus 98 / Super E10 95', '\n']                                                                          1
['\n', 'Super 95 / Regular/Benzine 91 / Super E10 95 / Super Plus E10 98 / Super Plus 98 / Regular/Benzine E10 91', '\n']                            1
['\n', 'Super Plus 98 / Super 95 / Super E10 95', '\n']                                                                                              1
['\n', 'Super Plus E10 98', '\n']                                                                                                                    1
['\n', 'Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91', '\n']                                                                               1
['\n', 'Super Plus 98 / Super E10 95', '\n']                                                                                                         1
['\n', 'Regular/Benzine 91 / Super 95 / Regular/Benzine E10 91 / Super E10 95 / Super Plus 98 / Super Plus E10 98', '\n']                            1
['\n', 'Regular/Benzine 91 / Super Plus 98 / Regular/Benzine E10 91 / Super 95 / Super E10 95 / Super Plus E10 98', '\n']                            1
['\n', 'Super Plus 98 / Super 95 / Super Plus E10 98', '\n']                                                                                         1
Name: Fuel, dtype: int64

In [336]:
df["Fuel"] = df.Fuel.str[1].str.split("/").str[0].str.strip()

In [337]:
df["Fuel"].value_counts(dropna=False)

Diesel (Particulate Filter)          4315
Super 95                             4100
Gasoline                             3175
Diesel                               2984
Regular                               503
Super E10 95                          402
Super 95 (Particulate Filter)         268
Gasoline (Particulate Filter)          77
CNG                                    33
LPG                                    16
Super Plus 98                          11
Liquid petroleum gas (LPG)             10
Super E10 95 (Particulate Filter)       7
Electric                                5
Others                                  5
CNG (Particulate Filter)                3
Super Plus E10 98                       2
Others (Particulate Filter)             1
Biogas                                  1
Domestic gas H                          1
Name: Fuel, dtype: int64

In [338]:
df["Fuel"] = df.Fuel.str.split("(").str[0].str.strip()

In [339]:
benzine = ["Gasoline", "Super 95", "Regular", "Super E10 95", "Super Plus 98", "Super Plus E10 98", "Others"]
lpg = ["LPG", "Liquid petroleum gas", "CNG", "Biogas", "Domestic gas H"]

def fueltype(x):
    if x in benzine:
        return "Benzine"
    elif x in lpg:
        return "LPG/CNG"
    else:
        return x

df["Fuel"] = df.Fuel.apply(fueltype)

In [340]:
df.Fuel.value_counts(dropna=False)

Benzine     8551
Diesel      7299
LPG/CNG       64
Electric       5
Name: Fuel, dtype: int64

## 38- consumption

In [341]:
df["Consumption"].astype('str').value_counts(dropna=False)

nan                                                                                                 1906
[['3.9 l/100 km (comb)'], ['4.1 l/100 km (city)'], ['3.7 l/100 km (country)']]                       304
[['4.2 l/100 km (comb)'], ['5 l/100 km (city)'], ['3.7 l/100 km (country)']]                         276
[['5.4 l/100 km (comb)'], ['6.8 l/100 km (city)'], ['4.5 l/100 km (country)']]                       257
[['3.8 l/100 km (comb)'], ['4.3 l/100 km (city)'], ['3.5 l/100 km (country)']]                       253
                                                                                                    ...
[['4.2 l/100 km (comb)'], ['5.3 l/100 km (city)'], ['3.6 l/100 km (country)']]                         1
['\n', '5.1 l/100 km (comb)', '\n', '6.4 l/100 km (city)', '\n', '4.3 l/100 km (country)', '\n']       1
[['4.6 l/100 km (comb)'], ['5.4 l/100 km (city)'], ['6.7 l/100 km (country)']]                         1
['\n', '6.3 l/100 km (comb)', '\n', '\n', '\n']                                                        1
['\n', '7.4 l/100 km (comb)', '\n', '9.6 l/100 km (city)', '\n', '6 l/100 km (country)', '\n']         1
Name: Consumption, Length: 882, dtype: int64

In [342]:
listtt=[]
for i in df['Consumption']:
    if type(i)==list:
         if(len(i)) not in listtt:
             print(len(i))
             listtt.append((len(i)))

3
7
5

In [343]:
def cons_comb(x):
    
    if type(x)==list and len(x)==3:
        if x[0] != []: return x[0][0]
        else: return None
        
    if type(x)==list and len(x)==5:
        return x[1]
    
    if type(x)==list and len(x)==7:
        return x[1]
    
    else:
        return None

In [344]:
def cons_city(x):
    
    if type(x)==list and len(x)==3:
        if x[1] != []: return x[1][0]
        else: return None
        
    if type(x)==list and len(x)==5:
        return None
    
    if type(x)==list and len(x)==7:
        return x[3]
    
    else:
        return None

In [345]:
def cons_country(x):
    
    if type(x)==list and len(x)==3:
        if x[2] != []: return x[2][0]
        else: return None
        
    if type(x)==list and len(x)==5:
        return None
    
    if type(x)==list and len(x)==7:
        return x[5]
    
    else:
        return None

In [346]:
df['cons_comb'] = df.Consumption.apply(cons_comb).str.extract('(\d{1,2}.\d|\d{1,3})').astype("float")
df['cons_city'] = df.Consumption.apply(cons_city).str.extract('(\d{1,2}.\d|\d{1,3})').astype("float")
df['cons_country'] = df.Consumption.apply(cons_country).str.extract('(\d{1,2}.\d|\d{1,3})').astype("float")

In [347]:
df["cons_comb"].value_counts(dropna=False).head()

NaN    2033
5.4     770
3.9     733
4.0     713
5.1     657
Name: cons_comb, dtype: int64

In [348]:
df["cons_city"].value_counts(dropna=False).head()

NaN    2436
5.0     669
5.8     633
4.5     580
4.3     533
Name: cons_city, dtype: int64

In [349]:
df["cons_country"].value_counts(dropna=False).head()

NaN    2376
4.2    1178
3.7    1089
4.4     898
4.5     848
Name: cons_country, dtype: int64

In [350]:
df.drop('Consumption', axis=1,inplace=True)

In [351]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'prev_owner', 'hp',
       'Type', 'Warranty', 'Body Color', 'Paint Type', 'Displacement',
       'Cylinders', 'Drive chain', 'Fuel', 'CO2 Emission', 'Emission Class',
       'Comfort_Convenience', 'Entertainment_Media', 'Extras',
       'Safety_Security', 'Emission Label', 'Gears', 'Country version', 'age',
       'Inspection_new', 'Upholstery_Type', 'Upholstery_color', 'nr_of_doors',
       'nr_of_seats', 'Gearing_Type', 'weight', 'cons_comb', 'cons_city',
       'cons_country'],
      dtype='object')

## 39- CO2_emission

In [352]:
df["CO2 Emission"].astype(str).value_counts(dropna=False)

nan                              1808
['\n120 g CO2/km (comb)\n']       740
[[], [], []]                      628
['\n99 g CO2/km (comb)\n']        545
['\n97 g CO2/km (comb)\n']        537
                                 ...
['\n14 g CO2/km (comb)\n']          1
['\n1,060 g CO2/km (comb)\n']       1
['\n51 g CO2/km (comb)\n']          1
['\n165 g CO2/km (comb)\n']         1
['\n193 g CO2/km (comb)\n']         1
Name: CO2 Emission, Length: 124, dtype: int64

In [353]:
df["CO2_Emission"] = df['CO2 Emission'].str[0].str.strip().str.replace(',', '').str.extract('(\d+)').astype('float')

In [354]:
df["CO2_Emission"].value_counts(dropna=False)

NaN       2436
120.0      740
99.0       545
97.0       537
104.0      501
          ...
14.0         1
1060.0       1
51.0         1
165.0        1
193.0        1
Name: CO2_Emission, Length: 123, dtype: int64

In [355]:
df.drop("CO2 Emission",axis=1,inplace=True)

In [356]:
df.shape

(15919, 35)

In [357]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'prev_owner', 'hp',
       'Type', 'Warranty', 'Body Color', 'Paint Type', 'Displacement',
       'Cylinders', 'Drive chain', 'Fuel', 'Emission Class',
       'Comfort_Convenience', 'Entertainment_Media', 'Extras',
       'Safety_Security', 'Emission Label', 'Gears', 'Country version', 'age',
       'Inspection_new', 'Upholstery_Type', 'Upholstery_color', 'nr_of_doors',
       'nr_of_seats', 'Gearing_Type', 'weight', 'cons_comb', 'cons_city',
       'cons_country', 'CO2_Emission'],
      dtype='object')

## 39- emission_class

In [358]:
df["Emission Class"].astype('str').value_counts(dropna=False)

['\nEuro 6\n']          10139
nan                      3021
['\nEuro 6d-TEMP\n']     1845
[[], [], []]              607
['\nEuro 6c\n']           127
['\nEuro 5\n']             78
['\nEuro 6d\n']            62
['\nEuro 4\n']             40
Name: Emission Class, dtype: int64

In [359]:
df["Emission_Class"] = [item[0] if type(item) == list else item for item in df["Emission Class"]]
# df["Emission_class"].str.join("").str.strip('\n').value_counts(dropna=False)
df["Emission_Class"] = df["Emission_Class"].str.strip("\n")

In [360]:
df["Emission_Class"].value_counts(dropna=False)

Euro 6          10139
NaN              3628
Euro 6d-TEMP     1845
Euro 6c           127
Euro 5             78
Euro 6d            62
Euro 4             40
Name: Emission_Class, dtype: int64

In [361]:
df.drop("Emission Class",axis=1,inplace=True)

In [362]:
df.groupby("Emission_Class").mean()

,price,km,prev_owner,hp,Warranty,Displacement,age,nr_of_doors,nr_of_seats,weight,cons_comb,cons_city,cons_country,CO2_Emission
Emission_Class,,,,,,,,,,,,,,
Euro 4,13655.825000,17734.583333,1.000000,78.468750,12.000000,1648.692308,0.608696,5.000000,5.051282,1643.000000,9.558974,9.969565,9.312821,177.538462
Euro 5,12472.500000,67507.487179,1.090909,82.166667,11.250000,1514.551282,2.578947,4.756410,4.763889,1315.000000,4.557534,5.644928,3.965714,113.506849
Euro 6,17122.520170,39400.033751,1.087281,87.911916,19.759804,1446.785374,1.743142,4.638867,4.936110,1353.639237,4.718439,5.698769,4.095453,121.430368
Euro 6c,16225.842520,13578.523364,0.925373,81.795276,27.724138,1263.192000,1.052632,4.690476,5.067227,1310.487179,5.066929,6.345600,4.368800,122.032000
Euro 6d,18487.870968,8599.540984,1.019231,82.983871,41.076923,1408.779661,0.333333,4.516129,5.103448,1373.040000,5.491803,6.681967,4.755738,128.918033
Euro 6d-TEMP,22185.037940,5722.063872,0.981439,93.015727,26.737160,1380.444323,0.399261,4.596081,4.999432,1320.496599,5.495917,6.854883,4.738139,129.710326

## Emission Label

In [363]:
df.groupby(df["Emission Label"].astype(str)).mean()

,price,km,prev_owner,hp,Warranty,Displacement,age,nr_of_doors,nr_of_seats,weight,cons_comb,cons_city,cons_country,CO2_Emission
Emission Label,,,,,,,,,,,,,,
['\n1 (No sticker)\n'],21830.682415,19373.920904,1.077778,85.952756,25.333333,1397.010499,0.960000,4.846154,4.904632,1327.346939,4.677660,5.440108,4.217344,115.102426
['\n2 (Red)\n'],14900.000000,50.000000,1.000000,66.000000,NaN,1398.000000,0.000000,5.000000,5.000000,1248.000000,6.300000,7.800000,5.400000,143.000000
['\n3 (Yellow)\n'],31444.000000,12875.000000,1.000000,112.000000,NaN,1498.000000,0.500000,4.500000,5.000000,NaN,5.300000,6.200000,4.700000,139.000000
['\n4 (Green)\n'],18657.180411,28475.640256,1.115667,93.464376,35.293839,1418.523755,1.423360,4.498586,4.985945,1346.118272,5.279680,6.599934,4.517796,130.220072
['\n5 (Blue)\n'],14639.875000,33501.625000,1.000000,83.625000,NaN,1347.250000,1.500000,5.000000,4.875000,1215.000000,5.337500,6.750000,4.537500,123.750000
"[[], [], []]",12591.400000,47300.100000,1.086957,76.400000,9.545455,993.692308,1.794872,4.694444,4.785714,1076.250000,NaN,NaN,NaN,NaN
nan,17726.975113,36108.742518,1.055482,86.959318,20.643704,1427.444947,1.590913,4.697029,4.940835,1352.511846,4.790013,5.768333,4.154879,122.089526

In [364]:
df.drop("Emission Label",axis=1,inplace=True)

In [365]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'prev_owner', 'hp',
       'Type', 'Warranty', 'Body Color', 'Paint Type', 'Displacement',
       'Cylinders', 'Drive chain', 'Fuel', 'Comfort_Convenience',
       'Entertainment_Media', 'Extras', 'Safety_Security', 'Gears',
       'Country version', 'age', 'Inspection_new', 'Upholstery_Type',
       'Upholstery_color', 'nr_of_doors', 'nr_of_seats', 'Gearing_Type',
       'weight', 'cons_comb', 'cons_city', 'cons_country', 'CO2_Emission',
       'Emission_Class'],
      dtype='object')

## 41- Comfort_Convenience

In [366]:
df["Comfort_Convenience"].astype(str).value_counts(dropna=False)

nan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        920
['Air conditioning', 'Electrical side mirrors', 'Hill Holder', 'Power windows']                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            216
['Air conditioning', 'Electrical side mirrors', 'Power windows']                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           134
['Air conditioning', 'Power windows']                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      130
['Air conditioning', 'Armrest', 'Automatic climate control', 'Cruise control', 'Electrical side mirrors', 'Leather steering wheel', 'Light sensor', 'Lumbar support', 'Multi-function steering wheel', 'Navigation system', 'Park Distance Control', 'Parking assist system sensors front', 'Parking assist system sensors rear', 'Power windows', 'Rain sensor', 'Seat heating', 'Start-stop system']                                                                                                                                                                     105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ...
['Air conditioning', 'Cruise control', 'Electrical side mirrors', 'Hill Holder', 'Leather steering wheel', 'Light sensor', 'Multi-function steering wheel', 'Navigation system', 'Park Distance Control', 'Parking assist system sensors rear', 'Power windows', 'Rain sensor', 'Split rear seats', 'Start-stop system', 'Tinted windows']                                                                                                                                                                                                                                   1
['Air conditioning', 'Armrest', 'Automatic climate control', 'Cruise control', 'Electrical side mirrors', 'Heated steering wheel', 'Hill Holder', 'Leather steering wheel', 'Light sensor', 'Lumbar support', 'Multi-function steering wheel', 'Navigation system', 'Park Distance Control', 'Parking assist system camera', 'Parking assist system sensors front', 'Parking assist system sensors rear', 'Power windows', 'Rain sensor', 'Seat heating', 'Sunroof']                                                                                                         1
['Air conditioning', 'Armrest', 'Cruise control', 'Electrical side mirrors', 'Heated steering wheel', 'Hill Holder', 'Leather steering wheel', 'Light sensor', 'Multi-function steering wheel', 'Park Distance Control', 'Parking assist system camera', 'Parking assist system sensors front', 'Parking assist system sensors rear', 'Power windows', 'Rain sensor', 'Seat heating', 'Split rear seats', 'Start-stop system', 'Tinted windows']                                                                                                                             1
['Air conditioning', 'Automatic climate control', 'Cruise control', 'Electrical side mirrors', 'Leather steering wheel', 'Light sensor', 'Multi-function steering wheel', 'Park Distance Control', 'Parking assist system sensors front', 'Parking assist system sensors rear', 'Power windows', 'Rain sensor', 'Seat heating']                                                                                                                                                                                                                                              1
['Air conditioning', 'Automatic climate control', 'Cruise control', 'Electrically heated windshield', 'Electrical side mirrors', 'Electric tailgate', 'Heads-up display', 'Heated steering wheel', 'Hill Holder', 'Keyless central door lock', 'Leather steering wheel', 'Light sensor', 'Lumbar support', 'Navigation system', 'Park Distance Control', 'Parking assist system camera', 'Parking assist system self-steering', 'Parking assist system sensors front', 'Parking assist system sensors rear', 'Power windows', 'Rain sensor', 'Seat heating', 'Sunroof']      1
Name: Comfort_Convenience, Length: 6199, dtype: int64

In [367]:
df["Comfort_Convenience"] = [','.join(item) if type(item) == list else item for item in  df['Comfort_Convenience']]

In [368]:
df["Comfort_Convenience"].astype(str).value_counts(dropna=False)

nan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  920
Air conditioning,Electrical side mirrors,Hill Holder,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                   216
Air conditioning,Electrical side mirrors,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                               134
Air conditioning,Power windows                                                                                                                                                                                                                                                                                                                                                                                                                                                                       130
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Start-stop system                                                                                                                                                   105
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ...
Air conditioning,Cruise control,Electrical side mirrors,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system sensors rear,Power windows,Rain sensor,Split rear seats,Start-stop system,Tinted windows                                                                                                                                                                                                           1
Air conditioning,Armrest,Automatic climate control,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Lumbar support,Multi-function steering wheel,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof                                                                                                1
Air conditioning,Armrest,Cruise control,Electrical side mirrors,Heated steering wheel,Hill Holder,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system camera,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Split rear seats,Start-stop system,Tinted windows                                                                                                                 1
Air conditioning,Automatic climate control,Cruise control,Electrical side mirrors,Leather steering wheel,Light sensor,Multi-function steering wheel,Park Distance Control,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating                                                                                                                                                                                                                1
Air conditioning,Automatic climate control,Cruise control,Electrically heated windshield,Electrical side mirrors,Electric tailgate,Heads-up display,Heated steering wheel,Hill Holder,Keyless central door lock,Leather steering wheel,Light sensor,Lumbar support,Navigation system,Park Distance Control,Parking assist system camera,Parking assist system self-steering,Parking assist system sensors front,Parking assist system sensors rear,Power windows,Rain sensor,Seat heating,Sunroof      1
Name: Comfort_Convenience, Length: 6199, dtype: int64

## 42- Entertainment_Media

In [369]:
df["Entertainment_Media"].astype('str').value_counts(dropna=False)

nan                                                                                                                             1374
['Bluetooth', 'Hands-free equipment', 'On-board computer', 'Radio', 'USB']                                                      1282
['Bluetooth', 'Hands-free equipment', 'MP3', 'On-board computer', 'Radio', 'USB']                                                982
['Bluetooth', 'CD player', 'Hands-free equipment', 'MP3', 'On-board computer', 'Radio', 'USB']                                   783
['On-board computer', 'Radio']                                                                                                   487
                                                                                                                                ...
['Bluetooth', 'CD player', 'Digital radio', 'Hands-free equipment', 'Radio']                                                       1
['CD player', 'Hands-free equipment', 'MP3', 'Radio', 'USB']                                                                       1
['MP3', 'Radio', 'Sound system', 'USB']                                                                                            1
['Bluetooth', 'MP3', 'On-board computer', 'Radio', 'Television', 'USB']                                                            1
['Bluetooth', 'CD player', 'Hands-free equipment', 'MP3', 'On-board computer', 'Radio', 'Sound system', 'Television', 'USB']       1
Name: Entertainment_Media, Length: 347, dtype: int64

In [370]:
df["Entertainment_Media"].str.join("").nunique()

346

In [371]:
df["Entertainment_Media"] = [",".join(item) if type(item) == list else item for item in df["Entertainment_Media"]]

In [372]:
df["Entertainment_Media"][0]

'Bluetooth,Hands-free equipment,On-board computer,Radio'

## 43- extras

In [373]:
df["Extras"].str.join('').value_counts(dropna=False)

Alloy wheels                                                                                         3245
NaN                                                                                                  2962
Alloy wheelsTouch screen                                                                              697
Alloy wheelsVoice Control                                                                             577
Alloy wheelsTouch screenVoice Control                                                                 541
                                                                                                     ...
Alloy wheelsCatalytic ConverterShift paddlesSport packageSport seatsSport suspensionVoice Control       1
Alloy wheelsCatalytic ConverterRoof rackSport packageSport seatsTrailer hitch                           1
Alloy wheelsCatalytic ConverterSki bagSport packageVoice Control                                        1
Catalytic ConverterRoof rackSport seatsSport suspension                                                 1
Alloy wheelsShift paddlesSki bagSport seatsSport suspensionTouch screenVoice Control                    1
Name: Extras, Length: 660, dtype: int64

In [374]:
df["Extras"] = [",".join(item) if type(item) == list else item for item in df["Extras"]]

In [375]:
df["Extras"].str.join('').value_counts(dropna=False)

Alloy wheels                                                                                               3245
NaN                                                                                                        2962
Alloy wheels,Touch screen                                                                                   697
Alloy wheels,Voice Control                                                                                  577
Alloy wheels,Touch screen,Voice Control                                                                     541
                                                                                                           ...
Alloy wheels,Catalytic Converter,Shift paddles,Sport package,Sport seats,Sport suspension,Voice Control       1
Alloy wheels,Catalytic Converter,Roof rack,Sport package,Sport seats,Trailer hitch                            1
Alloy wheels,Catalytic Converter,Ski bag,Sport package,Voice Control                                          1
Catalytic Converter,Roof rack,Sport seats,Sport suspension                                                    1
Alloy wheels,Shift paddles,Ski bag,Sport seats,Sport suspension,Touch screen,Voice Control                    1
Name: Extras, Length: 660, dtype: int64

## 44- safety security

In [376]:
df["Safety_Security"].str.join('').value_counts(dropna=False)

NaN                                                                                                                                                                                                                                                                                                                                              982
ABSCentral door lockDaytime running lightsDriver-side airbagElectronic stability controlFog lightsImmobilizerIsofixPassenger-side airbagPower steeringSide airbagTire pressure monitoring systemTraction control                                                                                                                                 538
ABSCentral door lockDaytime running lightsDriver-side airbagElectronic stability controlImmobilizerIsofixPassenger-side airbagPower steeringSide airbagTire pressure monitoring systemTraction control                                                                                                                                           480
ABSCentral door lockDaytime running lightsDriver-side airbagElectronic stability controlImmobilizerIsofixPassenger-side airbagPower steeringSide airbagTire pressure monitoring systemTraction controlXenon headlights                                                                                                                           275
ABSCentral door lockDaytime running lightsDriver-side airbagElectronic stability controlFog lightsImmobilizerIsofixLED Daytime Running LightsPassenger-side airbagPower steeringSide airbagTire pressure monitoring systemTraction control                                                                                                       272
                                                                                                                                                                                                                                                                                                                                                ...
ABSCentral door lockElectronic stability controlImmobilizerIsofixPassenger-side airbagPower steeringSide airbag                                                                                                                                                                                                                                    1
ABSAdaptive Cruise ControlCentral door lockDaytime running lightsDriver-side airbagElectronic stability controlEmergency brake assistantImmobilizerIsofixPassenger-side airbagPower steeringSide airbagTire pressure monitoring systemTraction control                                                                                             1
ABSAdaptive Cruise ControlAlarm systemCentral door lockDriver-side airbagElectronic stability controlFog lightsImmobilizerIsofixLane departure warning systemLED Daytime Running LightsPassenger-side airbagPower steeringSide airbagTire pressure monitoring systemTraction controlXenon headlights                                               1
ABSAdaptive Cruise ControlCentral door lockDaytime running lightsDriver-side airbagElectronic stability controlFog lightsImmobilizerIsofixPower steeringTire pressure monitoring systemTraction control                                                                                                                                            1
ABSAdaptive Cruise ControlCentral door lockDaytime running lightsDriver-side airbagElectronic stability controlEmergency brake assistantFog lightsImmobilizerIsofixLane departure warning systemLED Daytime Running LightsLED HeadlightsPassenger-side airbagPower steeringSide airbagTire pressure monitoring systemTraffic sign recognition      1
Name: Safety_Security, Length: 4444, dtype: int64

In [377]:
df.drop("Safety_Security",axis=1,inplace=True)

In [378]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'prev_owner', 'hp',
       'Type', 'Warranty', 'Body Color', 'Paint Type', 'Displacement',
       'Cylinders', 'Drive chain', 'Fuel', 'Comfort_Convenience',
       'Entertainment_Media', 'Extras', 'Gears', 'Country version', 'age',
       'Inspection_new', 'Upholstery_Type', 'Upholstery_color', 'nr_of_doors',
       'nr_of_seats', 'Gearing_Type', 'weight', 'cons_comb', 'cons_city',
       'cons_country', 'CO2_Emission', 'Emission_Class'],
      dtype='object')

## 47- Gears

In [379]:
df["Gears"].astype('str').value_counts(dropna=False)

['\n6\n']     5822
nan           4712
['\n5\n']     3239
['\n7\n']     1908
['\n8\n']      224
['\n9\n']        6
['\n1\n']        2
['\n3\n']        2
['\n4\n']        2
['\n2\n']        1
['\n50\n']       1
Name: Gears, dtype: int64

In [380]:
df["Gears"] = df.Gears.str[0].str.strip('\n')

In [381]:
df["Gears"].value_counts(dropna=False)

6      5822
NaN    4712
5      3239
7      1908
8       224
9         6
1         2
3         2
4         2
2         1
50        1
Name: Gears, dtype: int64

## 48- country version

In [382]:
df["Country version"].astype('str').value_counts(dropna=False)

nan                       8333
['\nGermany\n']           4502
['\nItaly\n']             1038
['\nEuropean Union\n']     507
['\nNetherlands\n']        464
['\nSpain\n']              325
['\nBelgium\n']            314
['\nAustria\n']            208
['\nCzech Republic\n']      52
['\nPoland\n']              49
['\nFrance\n']              38
['\nDenmark\n']             33
['\nHungary\n']             28
['\nJapan\n']                8
['\nSlovakia\n']             4
['\nCroatia\n']              4
['\nSweden\n']               3
['\nRomania\n']              2
['\nBulgaria\n']             2
['\nLuxembourg\n']           1
['\nSwitzerland\n']          1
['\nSlovenia\n']             1
['\nEgypt\n']                1
['\nSerbia\n']               1
Name: Country version, dtype: int64

In [383]:
df["Country version"] = [",".join(x) if type(x) == list else x for x in df["Country version"]]
df["Country version"] = df["Country version"].str.strip('\n')

In [384]:
df.groupby(["make_model", "Country version"]).mean().sort_values(["make_model", "price"])

                                       price            km  prev_owner  \
make_model     Country version
Audi A1        Luxembourg       14200.000000  66900.000000    1.000000
               Switzerland      16999.000000  52800.000000    1.000000
               Belgium          17267.895833  33894.644444    0.787234
               Spain            17446.730159  20694.327869    0.902439
               Slovakia         17600.000000           NaN         NaN
               Germany          18911.552803  26726.139062    1.141447
               France           18974.000000  23950.000000    1.000000
               Austria          19424.210526  19150.842105    1.000000
               Netherlands      19573.544118  35465.000000    1.000000
               Poland           19630.000000           NaN         NaN
               Italy            19876.391026  21450.316547    0.837838
               European Union   19914.910448   2150.646154    0.833333
               Denmark          22034.000000   1500.000000    1.000000
               Romania          26450.000000     50.000000    1.000000
Audi A2        Germany          28200.000000  26166.000000    1.000000
Audi A3        Sweden           19311.500000  21505.000000    1.500000
               Germany          19552.274406  52385.448864    1.051873
               Austria          19882.722222  43727.222222    0.944444
               Spain            19966.650000  37931.898305    0.871795
               Belgium          20209.848837  37137.848101    0.823529
               France           20530.666667  74320.000000    0.750000
               Slovenia         20985.000000   6021.000000    1.000000
               Italy            21816.915014  35469.571848    0.935154
               Hungary          22250.000000     10.000000         NaN
               European Union   23785.374429   1421.075377    1.031250
               Denmark          24048.666667           NaN         NaN
               Czech Republic   24616.388889   1147.333333    1.000000
               Poland           26910.000000      5.000000    1.000000
               Netherlands      27879.210526  61419.921053    1.000000
Opel Astra     Spain            12462.723404  53853.840909    0.933333
               France           12540.000000  65213.000000    1.000000
               Italy            12662.309278  63568.537634    0.988095
               Romania          12978.000000  11268.000000    2.000000
               Belgium          13632.628571  44484.114286    1.029412
               Austria          14680.733333  36950.933333    0.933333
               Croatia          16114.500000  15279.500000    1.000000
               Hungary          16544.000000  21655.571429    1.000000
               Poland           16782.700000  12880.444444    1.142857
               Egypt            16990.000000      5.000000         NaN
               Germany          17285.547619  35390.735872    1.093706
               European Union   18699.461538   3522.603175    1.000000
               Czech Republic   21589.032258           NaN         NaN
               Netherlands      22042.935065  39447.678571    1.000000
Opel Corsa     Italy             8916.068182  42492.419540    0.955882
               Poland            9144.444444  71162.500000    1.000000
               Belgium           9236.592593  41948.740741    1.000000
               Spain             9384.861111  39208.388889    1.000000
               Austria          11486.636364  15379.090909    1.000000
               European Union   12254.661017   7332.333333    1.047619
               Germany          12446.948810  12600.657568    1.095729
               Netherlands      13150.309524  36315.292683    1.000000
               Croatia          14245.000000   9555.000000    1.000000
Opel Insignia  Spain            14002.688525  79088.688525    0.981481
               France           14800.000000  69256.500000    1.000000
               Belgium          17635.243902  50041.243902    1.000000
               Austria          19234.413793  51527.137931    1.040000
               Italy            19738.000000  45984.631579    0.955224
               Denmark          21390.000000  24076.500000    1.000000
               Germany          21822.920945  37804.155022    1.038882
               Sweden           23890.000000  24700.000000    1.000000
               Hungary          24366.428571  13258.071429    1.000000
               Poland           25465.555556   3667.333333    1.000000
               Slovakia         26950.000000     58.333333    1.000000
               European Union   29337.972973   4329.270270    1.500000
               Netherlands      31110.148936  12927.441558    1.000000
               Czech Republic   35200.000000           NaN         NaN
Renault Clio   Serbia            8490.000000  50100.000000    2.000000
               Spain             8691.256410  60797.179487    1.000000
               Italy             9715.872000  42696.234783    0.953271
               European Union   11147.810345    399.069767    1.000000
               Hungary          11290.000000     10.000000         NaN
               Denmark          11371.000000           NaN         NaN
               Poland           11450.000000     10.000000    1.000000
               Austria          11538.540984   5666.471698    0.666667
               Belgium          11721.923077  38915.692308    0.921053
               France           12352.095238  38179.066667    1.000000
               Germany          13884.413567  14987.435185    1.114130
               Netherlands      16798.024390  43240.634146    1.000000
               Bulgaria         17593.000000           NaN         NaN
Renault Duster Belgium          10850.000000           NaN    0.000000
               Japan            13343.000000           NaN         NaN
Renault Espace France           19000.000000  87397.000000    1.000000
               Spain            25591.000000  52979.578947    1.000000
               Italy            26865.927273  44662.672727    0.960000
               Belgium          27189.702703  33307.194444    0.970588
               Germany          33394.405738  22670.906250    1.273885
               Austria          34669.363636  13747.240741    1.000000
               European Union   36895.000000     30.000000         NaN
               Netherlands      41176.929825  35236.649123    1.000000
               Czech Republic   41900.000000   5000.000000    1.000000

                                        hp   Warranty  Displacement       age  \
make_model     Country version
Audi A1        Luxembourg        66.000000   6.000000   1422.000000  3.000000
               Switzerland      110.000000        NaN   1395.000000  3.000000
               Belgium           69.437500  19.500000   1164.723404  2.052632
               Spain             76.365079  26.440678   1279.936508  1.389831
               Slovakia          70.000000        NaN    999.000000       NaN
               Germany           76.492167  21.074074   1188.481675  1.731079
               France            68.400000  22.500000   1104.750000  1.800000
               Austria           74.263158  60.000000   1021.263158  0.684211
               Netherlands       71.529412   6.000000   1087.500000  1.764706
               Poland            85.000000        NaN    999.000000       NaN
               Italy             77.025641  21.111111   1233.556291  1.201493
               European Union    85.761194        NaN   1084.000000  0.769231
               Denmark           83.000000        NaN    999.000000  2.000000
               Romania           85.000000  24.000000    999.000000  0.000000
Audi A2        Germany           85.000000        NaN   1598.000000  1.000000
Audi A3        Sweden            95.500000  12.000000   1347.500000  2.000000
               Germany           91.606860  14.315789   1493.158730  1.956647
               Austria           86.000000  45.600000   1479.888889  1.764706
               Spain             87.833333  20.708333   1605.172414  1.654545
               Belgium           86.174419  17.733333   1393.261905  1.816901
               France            92.666667   6.000000   1421.833333  2.666667
               Slovenia          85.000000  12.000000    999.000000  2.000000
               Italy             90.382436  20.333333   1581.192982  1.504478
               Hungary           93.333333        NaN   1165.333333       NaN
               European Union    95.849315  33.600000   1349.593607  0.315789
               Denmark           98.333333        NaN   1265.133333       NaN
               Czech Republic    90.555556  24.000000   1109.888889  0.600000
               Poland           110.000000  36.000000   1498.000000  0.000000
               Netherlands      103.631579   3.000000   1456.289474  1.815789
Opel Astra     Spain             85.425532  14.896552   1424.000000  1.818182
               France            81.000000   6.000000   1598.000000  2.000000
               Italy             88.402062  14.785714   1551.466667  1.979381
               Romania           74.000000        NaN   1398.000000  1.000000
               Belgium           85.771429  15.529412   1358.285714  1.857143
               Austria           86.466667  10.800000   1398.400000  1.571429
               Croatia           93.500000  60.000000   1199.000000  1.000000
               Hungary          101.714286  44.000000   1336.857143  1.285714
               Poland           105.100000  60.000000   1398.800000  0.555556
               Egypt             66.000000        NaN    999.000000       NaN
               Germany           98.060714  36.025316   1405.793517  1.360719
               European Union    96.738462  16.000000   1346.492308  0.500000
               Czech Republic   103.000000        NaN   1398.612903       NaN
               Netherlands      100.328947  12.600000   1395.805195  1.309091
Opel Corsa     Italy             53.494318  14.347826   1270.290698  1.619883
               Poland            64.333333  60.000000   1379.222222  2.000000
               Belgium           59.407407  13.882353   1295.444444  1.925926
               Spain             64.194444  16.363636   1367.888889  1.805556
               Austria           58.545455  16.000000   1330.400000  1.272727
               European Union    64.275862  16.000000   1389.293103  1.047619
               Germany           60.958333  32.640394   1337.202166  0.904948
               Netherlands       66.571429   3.600000   1338.761905  1.756098
               Croatia           66.000000        NaN   1398.000000  1.000000
Opel Insignia  Spain            101.655738  15.409091   1637.694915  2.133333
               France           100.000000   6.500000   1598.000000  2.500000
               Belgium          104.951220  19.687500   1562.780488  1.682927
               Austria          102.517241  18.000000   1588.000000  1.851852
               Italy            107.526316  16.000000   1704.410959  1.805556
               Denmark          121.000000        NaN   1490.000000  2.000000
               Germany          117.226899  29.223810   1690.143305  1.518141
               Sweden           125.000000        NaN   1956.000000  1.000000
               Hungary          122.857143  60.000000   1497.714286  0.928571
               Poland           126.111111  28.000000   1594.800000  1.666667
               Slovakia         138.333333        NaN   1562.000000  0.000000
               European Union   130.351351  24.000000   1672.702703  1.500000
               Netherlands      127.242857  22.147059   1608.678571  0.694444
               Czech Republic   154.000000        NaN   1956.000000       NaN
Renault Clio   Serbia            54.000000        NaN   1149.000000  3.000000
               Spain             58.846154  14.880000   1315.743590  2.384615
               Italy             58.264000  19.092593   1287.624000  1.715517
               European Union    58.051724  42.000000    947.244898  0.181818
               Hungary           66.000000        NaN    898.000000       NaN
               Denmark           56.000000        NaN    898.000000       NaN
               Poland            56.000000        NaN    898.000000  0.000000
               Austria           59.524590  48.585366    988.816667  0.409091
               Belgium           72.435897  23.384615   1276.307692  1.783784
               France            74.095238  10.888889   1211.350000  2.230769
               Germany           84.339168  21.365854   1195.738462  1.098398
               Netherlands       87.625000  15.000000   1253.725000  1.975610
               Bulgaria          77.000000        NaN   1329.000000       NaN
Renault Duster Belgium           77.000000        NaN           NaN       NaN
               Japan             77.000000  12.000000   1698.000000       NaN
Renault Espace France           118.000000   6.000000   1598.000000  3.000000
               Spain            118.263158  13.833333   1600.222222  2.555556
               Italy            116.927273  16.533333   1620.962264  1.907407
               Belgium          117.972973  25.000000   1630.351351  1.588235
               Germany          143.684426  38.717949   1753.615702  1.204762
               Austria          139.927273  45.230769   1853.055556  0.537037
               European Union   165.000000  36.000000   1798.000000       NaN
               Netherlands      141.210526  12.200000   1729.298246  1.210526
               Czech Republic   118.000000  60.000000   1598.000000       NaN

                                nr_of_doors  nr_of_seats       weight  \
make_model     Country version
Audi A1        Luxembourg          5.000000     4.000000  1120.000000
               Switzerland         5.000000     4.000000  1230.000000
               Belgium             4.872340     4.391304  1186.555556
               Spain               4.841270     4.920635  1343.629032
               Slovakia            5.000000     5.000000  1165.000000
               Germany             4.240741     4.633941  1183.136929
               France              5.000000     4.250000  1103.750000
               Austria             4.894737     4.631579  1144.789474
               Netherlands         4.882353     4.333333  1072.941176
               Poland              4.000000     4.000000          NaN
               Italy               4.767742     4.509804  1203.165289
               European Union      4.880597     4.969697  1189.215686
               Denmark             4.000000     4.066667          NaN
               Romania             5.000000     5.000000          NaN
Audi A2        Germany             5.000000     5.000000          NaN
Audi A3        Sweden              4.500000     5.000000          NaN
               Germany             4.367725     4.951351  1324.142857
               Austria             4.888889     5.000000  1323.625000
               Spain               4.733333     5.000000  1489.385965
               Belgium             4.729412     5.000000  1390.376623
               France              4.666667     5.000000  1261.250000
               Slovenia            5.000000     5.000000  1341.000000
               Italy               4.891738     4.997151  1361.868852
               Hungary             4.000000     5.000000          NaN
               European Union      4.835616     5.000000  1329.430894
               Denmark             4.000000     5.000000          NaN
               Czech Republic      4.888889     5.000000  1315.000000
               Poland              5.000000     5.000000  1325.000000
               Netherlands         4.763158     5.000000  1242.972973
Opel Astra     Spain               4.914894     5.000000  1323.891304
               France              5.000000     5.000000  1378.000000
               Italy               5.000000     4.989011  1431.918919
               Romania             5.000000     5.000000          NaN
               Belgium             4.857143     5.000000  1366.259259
               Austria             4.928571     5.000000  1372.000000
               Croatia             4.500000     5.000000          NaN
               Hungary             4.857143     5.000000          NaN
               Poland              4.600000     5.000000  1273.000000
               Egypt               4.000000     5.000000          NaN
               Germany             4.655131     4.998771  1369.828025
               European Union      4.907692     5.000000  1341.290323
               Czech Republic      5.000000     5.000000  1346.322581
               Netherlands         4.974026     5.000000  1270.819444
Opel Corsa     Italy               4.902857     4.971591  1166.717391
               Poland              4.666667     5.000000          NaN
               Belgium             4.259259     4.888889  1147.363636
               Spain               4.888889     4.833333  1185.971429
               Austria             4.555556     5.000000  1228.000000
               European Union      4.525424     5.000000  1225.837838
               Germany             3.903110     4.995169  1174.455243
               Netherlands         4.833333     5.000000  1082.951220
               Croatia             4.500000     5.000000  1199.000000
Opel Insignia  Spain               4.983607     5.000000  1532.176471
               France              5.000000     5.000000  1637.500000
               Belgium             4.756098     5.000000  1528.703704
               Austria             4.965517     5.000000  1606.440000
               Italy               5.000000     5.000000  1662.308824
               Denmark             4.000000     5.000000          NaN
               Germany             4.634398     4.997917  1593.849515
               Sweden              5.000000     5.000000          NaN
               Hungary             5.000000     5.000000  1522.000000
               Poland              4.333333     5.000000  1580.000000
               Slovakia            5.000000     5.000000  1471.666667
               European Union      4.472222     5.000000  1441.000000
               Netherlands         4.489362     5.000000  1507.072165
               Czech Republic      5.000000     5.000000  1789.500000
Renault Clio   Serbia              4.000000     5.000000          NaN
               Spain               5.000000     5.000000  1074.305556
               Italy               5.000000     4.842975  1169.428571
               European Union      4.827586     5.000000  1120.680000
               Hungary             4.000000     5.000000          NaN
               Denmark             5.000000          NaN          NaN
               Poland              4.000000     5.000000          NaN
               Austria             4.733333     5.000000  1131.211538
               Belgium             5.000000     4.846154  1172.842105
               France              5.000000     4.250000  1096.421053
               Germany             4.559211     4.934579  1186.145161
               Netherlands         4.975610     5.000000  1126.926829
               Bulgaria            5.000000     5.000000  1199.000000
Renault Duster Belgium             5.000000     5.000000          NaN
               Japan               5.000000     5.000000          NaN
Renault Espace France              5.000000     5.000000  1659.000000
               Spain               4.947368     5.947368  1615.529412
               Italy               4.981481     5.872727  1741.442308
               Belgium             4.972973     6.486486  1726.235294
               Germany             4.695473     5.904167  1734.898438
               Austria             4.907407     5.641509  1713.050000
               European Union      4.500000     7.000000  1708.000000
               Netherlands         4.964912     6.454545  1640.228070

In [385]:
df.drop("Country version",axis=1,inplace=True)

In [386]:
df.shape

(15919, 32)

In [387]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'prev_owner', 'hp',
       'Type', 'Warranty', 'Body Color', 'Paint Type', 'Displacement',
       'Cylinders', 'Drive chain', 'Fuel', 'Comfort_Convenience',
       'Entertainment_Media', 'Extras', 'Gears', 'age', 'Inspection_new',
       'Upholstery_Type', 'Upholstery_color', 'nr_of_doors', 'nr_of_seats',
       'Gearing_Type', 'weight', 'cons_comb', 'cons_city', 'cons_country',
       'CO2_Emission', 'Emission_Class'],
      dtype='object')

In [388]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 32 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   make_model           15919 non-null  object
 1   body_type            15859 non-null  object
 2   price                15919 non-null  int64
 3   vat                  11406 non-null  object
 4   km                   14895 non-null  float64
 5   prev_owner           9254 non-null   float64
 6   hp                   15831 non-null  float64
 7   Type                 15917 non-null  object
 8   Warranty             4853 non-null   float64
 9   Body Color           15322 non-null  object
 10  Paint Type           10147 non-null  object
 11  Displacement         15423 non-null  float64
 12  Cylinders            10239 non-null  object
 13  Drive chain          9061 non-null   object
 14  Fuel                 15919 non-null  object
 15  Comfort_Convenience  14999 non-null  object
 16  Entertainment_Media  14545 non-null  object
 17  Extras               12957 non-null  object
 18  Gears                11207 non-null  object
 19  age                  14322 non-null  float64
 20  Inspection_new       3932 non-null   object
 21  Upholstery_Type      11048 non-null  object
 22  Upholstery_color     10841 non-null  object
 23  nr_of_doors          15707 non-null  float64
 24  nr_of_seats          14942 non-null  float64
 25  Gearing_Type         15919 non-null  object
 26  weight               8945 non-null   float64
 27  cons_comb            13886 non-null  float64
 28  cons_city            13483 non-null  float64
 29  cons_country         13543 non-null  float64
 30  CO2_Emission         13483 non-null  float64
 31  Emission_Class       12291 non-null  object
dtypes: float64(13), int64(1), object(18)
memory usage: 3.9+ MB

In [389]:
df.to_csv("Clean_Capstone.csv", index=False)